<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'drug' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Buat Obat Baru</template>
  </AppPageTitle>
  <div class="py-5">
    <form @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="singkatan" value="Singkatan" />
          <AppInput 
            v-model="formInput.singkatan" 
            id="singkatan" 
            placeholder="Singkatan nama obat" 
            :error="errors.singkatan"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="obat" value="Nama" />
          <AppInput 
            v-model="formInput.obat" 
            id="obat" 
            placeholder="Nama obat" 
            :error="errors.obat"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="satuan" value="Satuan" />
          <AppInput 
            v-model="formInput.satuan" 
            id="satuan" 
            placeholder="Satuan" 
            :error="errors.satuan"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="kodegf" value="Kode gudang farmasi" />
          <AppInput 
            v-model="formInput.kodegf" 
            id="kodegf" 
            placeholder="Kode gudang farmasi" 
            :error="errors.kodegf"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="singkatan" value="Jenis" />
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.generik" id="generik" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="generik" value="Generik" class="ml-2" />
          </div>
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.injeksi" id="injeksi" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="injeksi" value="Injeksi" class="ml-2" />
          </div>
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.antibiotik" id="antibiotik" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="antibiotik" value="Antibiotik" class="ml-2" />
          </div>
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.psikotropika" id="psikotropika" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="psikotropika" value="Psikotropika" class="ml-2" />
          </div>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="singkatan" value="Status" />
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.aktif" id="aktif" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="aktif" value="Aktif" class="ml-2" />
          </div>
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useDrugStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = useDrugStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    formInput: {
      kode: null,
      singkatan: null,
      obat: null,
      satuan: null,
      kodegf: null,
      generik: false,
      injeksi: false,
      antibiotik: false,
      psikotropika: false,
      aktif: true
    },
    errors: [],
  }
},
created () {
  this.clearField()
},
methods: {
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.create(this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 201) {
          this.clearField()
          this.$router.push({ name: 'drug' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: null,
      singkatan: null,
      obat: null,
      satuan: null,
      kodegf: null,
      generik: false,
      injeksi: false,
      antibiotik: false,
      psikotropika: false,
      aktif: true
    }
  }
}
}
</script>