<template>
  <div class="relative w-full min-h-full">
    <SidebarMenu></SidebarMenu>
    <main class="ml-64 relative">
      <RouterView v-slot="{ Component }">
          <component :is="Component"></component>
      </RouterView>
    </main>
  </div>
</template>

<script setup>
import { SidebarMenu } from '@/components/master'
</script>