<template>
  <div class="flex items-center justify-center px-10 h-[calc(100vh-112px)]">
    <div>
      <div class="text-5xl font-extrabold uppercase text-transparent bg-clip-text bg-gradient-to-r from-primary-600 to-success-400">Data Master</div>
    </div>
  </div>
</template>
