<template>
  <AppPageSection>
    
    <template #title>Fasilitas Kesehatan</template>

    <template #action>
      <AppLinkButton :to="{ name: 'facility:create' }" v-if="auth.can('facility_create')">Buat baru</AppLinkButton>
    </template>
    
    <template #content>
      <div class="space-y-5">
        <div class="flex items-center gap-x-2 px-5">
          <div class="flex items-center gap-x-2 w-full max-w-md">
            <AppInputSearch v-model="keyword" @keydown.enter="handleSearch" class="" placeholder="Cari data"></AppInputSearch>
            <AppButton class="shrink-0" type="button" @keydown.enter="handleSearch" @click="handleSearch">Cari</AppButton>
          </div>
        </div>

        <div>
          <div class="overflow-x-auto">
            <AppTable>
              <template v-slot:head>
                <AppTableRow>
                  <AppTableHeading class="w-24">Kode</AppTableHeading>
                  <AppTableHeading>Nama</AppTableHeading>
                  <AppTableHeading></AppTableHeading>
                </AppTableRow>
              </template>
              <template v-slot:body>
                <AppTableRow v-if="store.dataLists.loading">
                  <AppTableCell colspan="3">
                    <div class="flex justify-center text-gray-400 py-3">
                      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
                    </div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else-if="store.dataLists.length === 0">
                  <AppTableCell colspan="3">
                    <div class="text-center text-gray-400 py-3">Tidak ada data ditemukan</div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else v-for="item in store.dataLists" :key="item.id">
                  <AppTableCell class="font-medium">{{ item.kode }}</AppTableCell>
                  <AppTableCell class="font-medium">{{ item.faskes }}</AppTableCell>
                  <AppTableCell>
                    <div class="space-x-2 flex text-sm justify-end">
                      <router-link 
                        :to="{ name: 'facility:edit', params: { id: item.id } }" 
                        class="font-medium text-primary-600 hover:underline" 
                        v-if="auth.can('facility_update')">
                        Edit
                      </router-link>
                      <button 
                        @click="handleDelete(item.id)" 
                        type="button" 
                        class="text-red-600 font-medium" v-if="auth.can('facility_destroy')">
                        Hapus
                      </button>
                    </div>
                  </AppTableCell>
                </AppTableRow>
              </template>
            </AppTable>
          </div>
          <div v-if="store.hasPaging" class="bg-white rounded-b-md px-5 py-4 text-xs flex items-center justify-between border-t">
            <button type="button" class="inline-flex font-medium text-sm" @click="store.pagePrev()" 
              :class="[ store.dataLinks.prev ? 'hover:text-gray-800 text-gray-600' : 'text-gray-300' ]"
              :disabled="!store.dataLinks.prev">
              Previous
            </button>
            <div class="text-gray-500 font-medium">{{ store.pagingCountInfo }}</div>
            <button @click="store.pageNext()" type="button" class="inline-flex font-medium text-sm" 
              :class="[ store.dataLinks.next ? 'hover:text-gray-800 text-gray-600' : 'text-gray-300' ]"
              :disabled="!store.dataLinks.next">
              Next
            </button>
          </div>
        </div>
      </div>
    </template>
  </AppPageSection>
</template>

<script>
import { useFacilityStore, useAuthStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppButton,
  AppLink,
  AppLinkButton,
  AppInputSearch,
  AppTable,
  AppTableHeading,
  AppTableRow,
  AppTableCell,
  AppPageSection,
} from '@/components/base'

export default {
  components: {
    AppButton,
    AppLink,
    AppLinkButton,
    AppInputSearch,
    AppTable, 
    AppTableHeading, 
    AppTableRow, 
    AppTableCell,
    AppPageSection,
    LoadingSpinner
  },
  setup () {
    const store = useFacilityStore()
    const auth = useAuthStore()
    return { store, auth }
  },
  data () {
    return {
      keyword: ''
    }
  },
  watch: {
    'store.search': {
      handler () {
        this.store.fetchData()
      }
    } 
  },
  mounted () {
    this.$nextTick(() => {
      this.store.search = ''
      this.store.fetchData()
    })
  },
  methods: {
    handleSearch (e) {
      this.store.search = this.keyword
    },
    async handleDelete (id) {
      await this.store.delete(id)
        .then(response => {
          if (response.status === 200) {
            this.store.fetchData()
          }
        })
    }
  }
}
</script>