<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'disease' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Edit Penyakit</template>
  </AppPageTitle>
  <div class="py-5">
    <div v-if="!readyToLoad" class="py-4 grid place-content-center">
      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
    </div>
    <form v-else @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput v-model="formInput.kode" id="kode" placeholder="Kode" :error="errors.kode" :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="icdx" value="ICDX" />
          <AppInput v-model="formInput.icdx" id="icdx" placeholder="ICDX" :error="errors.icdx" :disabled="isDisabled" />
        </div>
        <div class="sm:col-span-2 space-y-2">
          <AppInputLabel for="penyakit" value="Nama" />
          <AppInput v-model="formInput.penyakit" id="penyakit" placeholder="Nama" :error="errors.penyakit" :disabled="isDisabled" />
        </div>
        <div class="sm:col-span-2 space-y-2">
          <AppInputLabel for="kelompok-penyakit" value="Kelompok Penyakit" />
          <DiseasegroupCombobox v-model="formInput.diseasegroup_id"  placeholder="Kelompok Penyakit" :error="errors.diseasegroup_id"></DiseasegroupCombobox>
        </div>
        
        <div class="space-y-2">
          <AppInputLabel value="Status" />
          <div class="space-x-6 flex items-center">
            <div class="flex items-center">
              <AppInputCheckbox v-model="formInput.menular" id="menular" :disabled="isDisabled"></AppInputCheckbox>
              <AppInputLabel for="menular" value="Penyakit Menular" class="ml-2" />
            </div>
            <div class="flex items-center">
              <AppInputCheckbox v-model="formInput.lb1" id="lb1" :disabled="isDisabled"></AppInputCheckbox>
              <AppInputLabel for="lb1" value="LB1" class="ml-2" />
            </div>         
          </div>  
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useDiseaseStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { DiseasegroupSearchListBox, DiseasegroupCombobox } from '@/components/master'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner,
    DiseasegroupSearchListBox,
    DiseasegroupCombobox
},
setup () {
  const store = useDiseaseStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    readyToLoad: false,
    formInput: {
      kode: null,
      icdx: null,
      penyakit: null,
      diseasegroup_id: null,
      menular: false,
      lb1: false
    },
    errors: [],
  }
},
computed: {
  dataId () {
    return this.$route.params.id
  },
},
created () {
  this.clearField()
  this.getData(this.dataId)
},
methods: {
  async getData(id) {
    this.readyToLoad = false
    await this.store.find(id)
      .then(response => {
        Object.assign(this.formInput, response.data.data)
      })
      .catch(error => {})
      
    this.readyToLoad = true
  },

  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.update(this.$route.params.id, this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 200) {
          this.$router.push({ name: 'disease' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: null,
      icdx: null,
      penyakit: null,
      diseasegroup_id: null,
      menular: false,
      lb1: false
    }
  }
}
}
</script>