<template>
  <AppPageSection>
    
    <template #title>Penyakit</template>        
    <template #subtitle>Semua data kode dan jenis penyakit berdasarkan ICDX</template>        
   
    <template #action>
      <AppLinkButton :to="{ name: 'disease:create' }"  v-if="auth.can('disease_create')">Buat baru</AppLinkButton>
    </template>
    
    <template #content>
      <div class="space-y-5">
        <div class="flex items-center gap-x-2 px-5">
          <div class="flex items-center gap-x-2 w-full max-w-md">
            <AppInputSearch v-model="keyword" @keydown.enter="handleSearch" class="" placeholder="Cari data"></AppInputSearch>
            <AppButton class="shrink-0" type="button" @keydown.enter="handleSearch" @click="handleSearch">Cari</AppButton>
          </div>
        </div>

        <div>
          <div class="overflow-x-auto">
            <AppTable>
              <template v-slot:head>
                <AppTableRow>
                  <AppTableHeading class="w-24">Kode</AppTableHeading>
                  <AppTableHeading>Nama</AppTableHeading>
                  <AppTableHeading class="w-48"></AppTableHeading>
                  <AppTableHeading class="w-24"></AppTableHeading>
                </AppTableRow>
              </template>
              <template v-slot:body>
                <AppTableRow v-if="store.dataLists.loading">
                  <AppTableCell colspan="4">
                    <div class="flex justify-center text-neutral-400 py-3">
                      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
                    </div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else-if="store.dataLists.length === 0">
                  <AppTableCell colspan="4">
                    <div class="text-center text-neutral-400 py-3">Tidak ada data ditemukan</div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else v-for="disease in store.dataLists" :key="disease.id">
                  <AppTableCell class="font-medium">{{ disease.kode }}</AppTableCell>
                  <AppTableCell class="font-medium">{{ disease.penyakit }}</AppTableCell>
                  <AppTableCell class="">
                    <div class="space-x-1.5">
                      <span v-if="disease.menular" class="inline-flex items-center text-xs font-medium px-1.5 py-0.5 rounded-full">
                        <span class="flex w-2 h-2 bg-primary-500 rounded-full mr-1 flex-shrink-0"></span>Menular
                      </span>
                      <span v-if="disease.lb1" class="inline-flex items-center text-xs font-medium px-1.5 py-0.5 rounded-full">
                        <span class="flex w-2 h-2 bg-primary-500 rounded-full mr-1 flex-shrink-0"></span>Lb1
                      </span>
                    </div>
                  </AppTableCell>
                  <AppTableCell>
                    <div class="space-x-2 flex text-sm justify-end">
                      <a href="#" class="font-medium text-primary-600 hover:underline" v-if="auth.can('disease_view')">Lihat</a>
                      <router-link 
                        :to="{ name: 'disease:edit', params: { id: disease.id } }" 
                        class="font-medium text-primary-600 hover:underline"
                        v-if="auth.can('disease_update')"
                      >
                        Edit
                      </router-link>
                      <button 
                        @click="handleDelete(disease.id)" 
                        type="button" 
                        class="font-medium text-red-600"
                        v-if="auth.can('disease_destroy')"
                      >
                        Hapus
                      </button>
                    </div>
                  </AppTableCell>
                </AppTableRow>
              </template>
            </AppTable>
          </div>
          <div v-if="store.hasPaging" class="bg-white px-5 py-4 text-xs flex items-center justify-between border-t">
            <button type="button" class="inline-flex font-medium text-sm" @click="store.pagePrev()" 
              :class="[ store.dataLinks.prev ? 'hover:text-neutral-800 text-neutral-600' : 'text-neutral-300' ]"
              :disabled="!store.dataLinks.prev">
              Previous
            </button>
            <div class="text-neutral-600 font-medium">{{ store.pagingCountInfo }}</div>
            <button @click="store.pageNext()" type="button" class="inline-flex font-medium text-sm" 
              :class="[ store.dataLinks.next ? 'hover:text-neutral-800 text-neutral-600' : 'text-neutral-300' ]"
              :disabled="!store.dataLinks.next">
              Next
            </button>
          </div>
        </div>
      </div>
    </template>
  </AppPageSection>
</template>

<script>
import { useDiseaseStore, useAuthStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppButton,
  AppLink,
  AppLinkButton,
  AppInputSearch,
  AppTable,
  AppTableHeading,
  AppTableRow,
  AppTableCell,
  AppPageSection,
} from '@/components/base'

export default {
  components: { 
    AppButton,
    AppLink,
    AppLinkButton,
    AppInputSearch,
    AppTable, 
    AppTableHeading, 
    AppTableRow, 
    AppTableCell,
    AppPageSection,
    LoadingSpinner 
  },
  setup () {
    const store = useDiseaseStore()
    const auth = useAuthStore()
    return { store, auth }
  },
  data () {
    return {
      keyword: ''
    }
  },
  watch: {
    'store.search': {
      handler () {
        this.store.fetchData()
      }
    } 
  },
  mounted () {
    this.$nextTick(() => {
      this.store.search = ''
      this.store.fetchData()
    })
  },
  
  methods: {
    handleSearch (e) {
      this.store.search = this.keyword
    },
    async handleDelete (id) {
      await this.store.delete(id)
        .then(response => {
          if (response.status === 200) {
            this.store.fetchData()
          }
        })
    }  
  },
}
</script>