<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'village' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Buat Desa Baru</template>
  </AppPageTitle>
  <div class="py-5">
    <form @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="kode_bps" value="Kode BPS" />
          <AppInput 
            v-model="formInput.kode_bps" 
            id="kode_bps" 
            placeholder="Kode BPS" 
            :error="errors.kode_bps"
            :disabled="isDisabled" />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="kode_dukcapil" value="Kode Dukcapil" />
          <AppInput 
            v-model="formInput.kode_dukcapil" 
            id="kode_dukcapil" 
            placeholder="Kode Dukcapil" 
            :error="errors.kode_dukcapil"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="desa" value="Nama" />
          <AppInput 
            v-model="formInput.desa" 
            id="desa" 
            placeholder="Nama" 
            :error="errors.desa"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="district_id" value="Kecamatan" />
          <AppInput 
            v-model="formInput.district_id" 
            id="district_id" 
            placeholder="Kecamatan" 
            :error="errors.district_id"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <div class="flex items-center">
              <AppInputCheckbox v-model="formInput.wilayah_kerja" id="wilayah_kerja" :disabled="isDisabled"></AppInputCheckbox>
              <AppInputLabel for="wilayah_kerja" value="Wilayah Kerja" class="ml-2" />
            </div>         
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useVillageStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = useVillageStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    readyToLoad: false,
    formInput: {
      kode: null,
      kode_bps: null,
      kode_dukcapil: null,
      desa: null,
      wilayah_kerja: false,
      district_id: null
    },
    errors: [],
  }
},
created () {
  this.clearField()
},
methods: {
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.create(this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 201) {
          this.clearField()
          this.$router.go(-1)
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: null,
      kode_bps: null,
      kode_dukcapil: null,
      desa: null,
      wilayah_kerja: false,
      district_id: null
    }
  }
}
}
</script>