<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'tariffcategory' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Buat Kategori Tarif Baru</template>
  </AppPageTitle>
  <div class="py-5">
    <form @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full sm:col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" autofocus/>
        </div>
        <div class="sm:col-span-2 space-y-2">
          <AppInputLabel for="kategori_tarif" value="Nama" />
          <AppInput 
            v-model="formInput.kategori_tarif" 
            id="kategori_tarif" 
            placeholder="Nama" 
            :error="errors.kategori_tarif" 
            :disabled="isDisabled"/>
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useTariffcategoryStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = useTariffcategoryStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    formInput: {
      kode: '',
      kategori_tarif: '',
    },
    errors: []
  }
},
created () {
  this.clearField()
},
methods: {
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.create(this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 201) {
          this.clearField()
          this.$router.push({ name: 'tariffcategory' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: '',
      kategori_tarif: '',
    }
  }
}
}
</script>