<template>
<div class="relative">
  <div
    @click="toggleListBox"
    ref="mainSelect"
    tabindex="0"
    class="w-full relative flex items-center bg-gray-50 h-10 text-sm rounded-md border border-transparent cursor-pointer px-2 shadow-sm outline outline-1 outline-transparent"
    :class="[show ? showOutlineClass : defaultOulineClass]"
  >
    <span v-if="selected.name" class="text-gray-800">{{ `${selected.code} - ${selected.name}`  }}</span>
    <span v-else class="">Kelompok Penyakit</span>
    <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
      <LoadingSpinner v-if="loading" class="h-5 w-5" />
      <ChevronUpDownIcon v-else class="w-5 h-5 text-gray-700" :class="[error ? 'text-red-700': 'text-gray-700']"></ChevronUpDownIcon>
    </div>
  </div>
  
  <p v-if="error" class="mt-2 text-sm text-red-500">
    {{ Array.isArray(error) ? error.toString() : error  }}
  </p>

  <div v-if="show" ref="listbox" class="absolute top-10 border border-gray-100 mt-2 bg-white w-full shadow-lg rounded-md">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <MagnifyingGlassIcon class="w-5 h-5 text-gray-300"></MagnifyingGlassIcon>
      </div>
      <input
        v-model="search"
        ref="search"
        type="text" 
        class="w-full pl-10 text-sm border-none focus:ring-0 rounded-t-md placeholder:text-gray-300 py-2.5" 
        placeholder="Cari Kode/Nama" autofocus>
    </div>
    <div class="bg-gray-100 p-2 text-sm text-right">
      <button type="button" class="text-gray-500 text-sm hover:underline" @click="selected = {}; $emit('update:modelValue', null)">Clear Select</button>
    </div>
    <div tabindex="-1" class="text-gray-500 overflow-y-auto" :class="listBoxSize">
      <ul tabindex="-1" class="divide-y text-sm">
        <div v-if="diseasegroups.loading" class="p-5 text-center grid place-content-center"><LoadingSpinner class="h-5 w-5" /></div>
        <div v-else-if="diseasegroups.length === 0" class="p-5 text-center">Data tidak ditemukan</div>
        <li v-else
          tabindex="0" 
          v-for="item in diseasegroups" 
          :key="item.id" 
          @click="selectOption(item)"
          :class="[item.id == selected.id ? 'bg-primary-50': '']"
          class="p-3 hover:bg-primary-50 cursor-pointer"
        >
            <div class="flex items-center space-x-3">
              <div class="text-gray-800 font-medium text-sm">{{ item.kode }}</div>
              <div class="">{{ item.kelompok_penyakit }}</div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</template>

<script>
import { ref, watch } from 'vue'
import { MagnifyingGlassIcon, ChevronUpDownIcon } from '@heroicons/vue/24/solid'
import LoadingSpinner from '../icons/LoadingSpinner.vue'
import { onKeyStroke, onClickOutside, useFocus } from '@vueuse/core'
export default {
  components: { MagnifyingGlassIcon, ChevronUpDownIcon, LoadingSpinner },
  props: {
    modelValue: {
      type: [Number, String],
      default: null
    },
    listBoxSize: {
      type: String,
      default: 'max-h-56'
    },
    error: {
      type: [Array, String],
      default: ''
    }
  },
  setup () {
    const listbox = ref(null)
    const show = ref(false)
    const mainSelect = ref()

    const { focused } = useFocus(mainSelect)

    // onClickOutside(listbox, (event) => {
    //   show.value = false 
    // })
    onKeyStroke(' ', () => { show.value = true })
    onKeyStroke('Escape', () => { show.value = false })

    watch(focused, (focused) => {
      if (focused) {
        show.value = true
      }
    })
    
    return { listbox, show, mainSelect, focused }
  },
  data () {
    return {
      diseasegroups: [],
      search: '',
      debounce: null,
      selected: {},
      loading: false
    }
  },
  computed: {
    defaultOulineClass () {
      return this.error 
        ? 'text-red-300 border-red-300 bg-red-50'
        : 'text-gray-400 border-gray-300 bg-gray-50 focus:outline-primary-600 focus:border-primary-600'
    },
    showOutlineClass () {
      return this.error 
        ? 'text-red-300 border-red-500 bg-red-50 ' 
        : 'text-gray-400 bg-gray-50 border-primary-600 outline outline-1 outline-primary-600 '
    }
  },

  mounted () {
    if (![0, null, undefined].includes(this.modelValue)) {
      this.$nextTick(() =>  {
        this.findDiseasegroup(this.modelValue)
      })
    }
  },
  
  watch: {
    show: function (val) {
      if (val) {     
        this.$nextTick(() => this.$refs.search.focus() )
        if (this.diseasegroups.length === 0) this.getDiseasegroup()
      }
    },
    search: function (val) {
      this.searchData()
    },
  },

  methods: {
    toggleListBox () {
      this.search = ''
      this.show = !this.show
    },

    openListBox () {
      this.show = true
    },

    closeListbox () {
      this.show = false
    },

    getDiseasegroup () {
      this.diseasegroups = { loading: true }
      this.$http.get('/diseasegroups', {
        params: {
          ...(this.search.length > 0 ? { 'q': this.search } : {}),
        }
      })
        .then(response => {
          this.diseasegroups = response.data.data
        })
    },

    async findDiseasegroup (id) {
      this.loading = true
      await this.$http.get(`/diseasegroups/${id}`)
        .then(response => {
          this.selected = {
            id: response.data.data.id,
            name: response.data.data.kelompok_penyakit,
            code: response.data.data.kode
          }
        })
      this.loading = false
    },

    searchData () {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        this.getDiseasegroup()
      }, 800) 
    },

    selectOption (option) {
      this.selected = { id: option.id, name: option.kelompok_penyakit, code:option.kode }
      this.$emit('update:modelValue', option.id)
      this.closeListbox()
    }
  }
}
</script>