<template>
<div ref="combobox" class="relative">
  <div 
    class="flex border rounded-md shadow-sm ring-1 ring-transparent"
    :class="[error ? 'bg-red-50 border-red-300 focus-within:border-red-500 focus-within:ring-transparent' : 'bg-gray-50 border-gray-300 focus-within:border-primary-600 focus-within:ring-primary-600']"
  >
    <input ref="searchbox" 
      type="text" 
      class="w-full text-sm p-2 bg-transparent rounded-l-md border-transparent focus:ring-0 focus:border-transparent placeholder:text-gray-400"
      :class="[error ? 'placeholder:text-red-300' : 'placeholder:text-gray-400']" 
      @keydown.down.prevent="goDown" 
      @keydown.tab="goDown" 
      @input="handleSearch" :value="selectedItem.name || keyword" 
      @keypress.space.prevent="openListbox"
      :placeholder="placeholder">
    <button v-if="clearButton || selectedItem.name" type="button" tabindex="-1" class="bg-transparent" @click="clearSelected">
      <XMarkIcon class="w-4 h-4 text-gray-700"></XMarkIcon>
    </button>
    <button type="button" tabindex="-1" @click="toggleListbox" class="rounded-r-md px-2.5">
      <ChevronUpDownIcon class="w-5 h-5" :class="[error ? 'text-red-700': 'text-gray-700']"></ChevronUpDownIcon>
    </button>
  </div>
  <p v-if="error" class="mt-2 text-sm text-red-500">
    {{ Array.isArray(error) ? error.toString() : error  }}
  </p>
  <div v-if="showListbox" class="absolute top-10 border border-gray-100 max-h-64 w-full rounded-md shadow-lg mt-2 py-2 bg-white overflow-y-auto">
    <ul ref="list" class=" text-sm">
      <div v-if="diseasegroups.loading" class="p-5 text-center grid place-content-center"><LoadingSpinner class="h-5 w-5" /></div>
      <div v-else-if="diseasegroups.length === 0" class="p-5 text-center">Data tidak ditemukan</div>
      <li v-else
        tabindex="0"
        v-for="(item, key, index) in diseasegroups" 
        :key="key" 
        class="p-2.5 cursor-pointer hover:bg-primary-50 focus:bg-primary-50 focus:outline-none"
        :class="{'bg-primary-100':item.id === selectedItem.id }"
        @click="selectItem(item)"
        @keypress.enter="selectItem(item)"
        @keypress.space.prevent="selectItem(item)"
        @keydown.down.prevent="selectNext(key)"         
        @keydown.up.prevent="selectPrev(key)"         
      >
        <div class="flex items-center space-x-3">
          <div class="text-gray-800 font-medium text-sm">{{ item.kode }}</div>
          <div class="">{{ item.kelompok_penyakit }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
</template>

<script>
import { ref, watch } from 'vue'
import { ChevronUpDownIcon, XMarkIcon } from '@heroicons/vue/24/solid'
import { onKeyStroke, onClickOutside, useFocus } from '@vueuse/core'
import LoadingSpinner from '../icons/LoadingSpinner.vue'
export default {
  components: { ChevronUpDownIcon, XMarkIcon, LoadingSpinner },
  props: {
    modelValue: {
      type: [Number, String],
      default: null
    },
    error: {
      type: [Array, String],
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  setup () {
    const combobox = ref(null)
    const showListbox = ref(false)
    const searchbox = ref()
    const diseasegroups = ref([])
    const { focused } = useFocus(searchbox)
  
    onClickOutside(combobox, () => { showListbox.value = false })
    onKeyStroke('Escape', () => { 
      if (showListbox.value) showListbox.value = false 
    })
    const openListbox = () => {
      showListbox.value = true
    }

    watch(focused, (focused) => {
      console.log(showListbox.value === false)
      if (focused && (showListbox.value === false)) {
        showListbox.value = true
      }
    })

    return {
      diseasegroups,
      combobox,
      showListbox,
      searchbox,
      openListbox
    }
  },
  data () {
    return {
      keyword: '',
      debounce: null,
      selectedItem: {},
      clearButton: false
    }
  },
  computed: {
    defaultOulineClass () {
      return this.error 
        ? 'text-red-300 border-red-300 bg-red-50'
        : 'text-gray-400 border-gray-300 bg-gray-50 focus:outline-primary-600 focus:border-primary-600'
    },
    showOutlineClass () {
      return this.error 
        ? 'text-red-300 border-red-500 bg-red-50 ' 
        : 'text-gray-400 bg-gray-50 border-primary-600 outline outline-1 outline-primary-600 '
    }
  },
  mounted () {
    if (![0, null, undefined].includes(this.modelValue)) {
      this.$nextTick(() =>  {
        this.findDiseasegroup(this.modelValue)
      })
    }
  },
  watch: {
    showListbox: function (val) {
      if (val) {
        if (this.diseasegroups.length === 0) this.getDiseasegroup()
      }
    },
    keyword: function (val) {
      if (val.length > 0) {
        this.clearButton = true
      } else {
        this.clearButton = false
      }
    },
  },
  methods: {
    toggleListbox () { 
      this.showListbox = !this.showListbox
    },
    openListbox () { 
      this.showListbox = true
    },
    closeListbox () { 
      this.showListbox = false
    },
    getDiseasegroup () {
      this.diseasegroups = { loading: true }
      this.$http.get('/diseasegroups')
        .then(response => {
          this.diseasegroups = response.data.data
        })
    },
    searchData () {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        this.getDiseasegroup()
      }, 800) 
    },
    selectItem (item) {
      this.selectedItem = { id:item.id, name: item.kelompok_penyakit }
      this.search = item.kelompok_penyakit
      this.$emit('update:modelValue', item.id)
      this.showListbox = false
    },
    goDown () {
      if (this.showListbox) {
        this.$refs.list.children[0].focus()
      }
    },
    goUp () {
      this.$refs.searchbox.focus()
    },
    selectPrev (index) {      
      if (index === 0) {
        this.$refs.searchbox.focus()
        return
      }
      this.$refs.list.children[index -1].focus()
    },
    selectNext (index) {
      if (index === this.diseasegroups.length - 1) return
      this.$refs.list.children[index + 1].focus()
    },
    handleSearch (e) {
      this.selectedItem.name = ''
      this.keyword = e.target.value
      this.searchData(e.target.value)
    },
    searchData (keyword) {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        this.diseasegroups = { loading: true }
        this.$http.get('/diseasegroups', {
          params: {
            ...(keyword.length > 0 ? { 'q': keyword } : {}),
          }
        })
          .then(response => {
            this.diseasegroups = response.data.data
          })
      },800)
    },
    findDiseasegroup (id) {
      this.$http.get(`/diseasegroups/${id}`)
        .then(response => {
          this.selectedItem = {
            id: response.data.data.id,
            name: response.data.data.kelompok_penyakit,
            code: response.data.data.kode
          }
        })
    },
    clearSelected () {
      this.selectedItem = {}
      this.keyword = '' 
      this.$emit('update:modelValue', null)
      this.closeListbox()
    }
  }
}
</script>