<script setup>
import { onMounted } from 'vue'
import { useAuthStore } from '@/stores'
import { useMenuMasterStore } from '@/stores/MenuMaster'

const auth = useAuthStore()
const menuStore = useMenuMasterStore()

onMounted(() => {
  menuStore.search = ''
})
</script>

<template>
  <aside class="fixed bottom-0 top-0 left-0 bg-gray-50 pt-28 w-64 border-r border-gray-200" aria-label="Sidenav" id="drawer-navigation">
    <div class="px-3 border-b">
      <div class="relative">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-2 text-neutral-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </div>
        <input type="text" v-model="menuStore.search"  class="text-sm w-full bg-neutral-50 py-4 border-0 outline-none focus:ring-0 pl-10 placeholder:text-neutral-400" placeholder="Cari Menu">
      </div>
    </div>
    <div class="overflow-y-auto py-4 px-3 h-[calc(100%-52px)]">
      <ul class="space-y-1 text-sm text-gray-400">
        <template
          v-for="({ name, routeName, path, permission }, index) in menuStore.filteredMenuList"
          :key="'menu_'+ index"  
        >
          <li
            v-if="auth.can(permission)"
          >
            <router-link 
              :to="{ name: routeName }" 
              class="inline-flex w-full items-center p-2 font-medium rounded-md hover:bg-gray-200/50 group transition"
              :class="{ 
                'text-gray-800': menuStore.subIsActive(path) 
              }"
            >
              <span>{{ name }}</span>
            </router-link>
          </li>
        </template>
       
      </ul>
    </div>
  </aside>
</template>