<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'department' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Edit Unit Pelayanan</template>
  </AppPageTitle>
  <div class="py-5">
    <div v-if="!readyToLoad" class="py-4 grid place-content-center">
      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
    </div>
    <form v-else @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full sm:col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" autofocus/>
        </div>
        <div class="sm:col-span-2 space-y-2">
          <AppInputLabel for="unit-pelayanan" value="Nama" />
          <AppInput 
            v-model="formInput.unit_pelayanan" 
            id="unit-pelayanan" 
            placeholder="Nama" 
            :error="errors.unit_pelayanan" 
            :disabled="isDisabled"/>
        </div>
        <div class="flex items-center">
          <AppInputCheckbox v-model="formInput.sakit" id="sakit" :disabled="isDisabled"></AppInputCheckbox>
          <AppInputLabel for="sakit" value="Pelayanan Sakit" class="ml-2" />
          </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useDepartmentStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = useDepartmentStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    readyToLoad: false,
    formInput: {
      kode: '',
      unit_pelayanan: '',
      sakit: false
    },
    errors: []
  }
},
computed: {
  dataId () {
    return this.$route.params.id
  },
},
created () {
  this.clearField()
  this.getData(this.dataId)
},
methods: {
  async getData(id) {
    this.readyToLoad = false
    await this.store.find(id)
      .then(response => {
        Object.assign(this.formInput, response.data.data)
      })
      .catch(error => {})

    this.readyToLoad = true
  },
  
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.update(this.$route.params.id, this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 200) {
          this.$router.push({ name: 'department' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: '',
      unit_pelayanan: '',
      sakit: false
    }
  }
}
}
</script>