<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'tariff' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Buat Tarif Baru</template>
  </AppPageTitle>
  <div class="py-5">
    <form @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full sm:col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" autofocus/>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="tariffgroup_id" value="Kelompok" />
          <AppSelect
            v-model="formInput.tariffgroup_id" 
            id="tariffgroup_id" 
            placeholder="Kelompok Tarif" 
            :error="errors.tariffgroup_id" 
            :items="tariffgroupStore.optionLists" 
          />
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="tariffcategory_id" value="Kategori" />
          <AppSelect
            v-model="formInput.tariffcategory_id" 
            id="tariffcategory_id" 
            placeholder="Kategori tarif" 
            :error="errors.tariffcategory_id"
            :items="tariffcategoryStore.optionLists" 
          >
          </AppSelect>
        </div>
        <div class="sm:col-span-2 space-y-2">
          <AppInputLabel for="tarif" value="Nama" />
          <AppInput 
            v-model="formInput.tarif" 
            id="tarif" 
            placeholder="Nama" 
            :error="errors.tarif" 
            :disabled="isDisabled"/>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="jasa_sarana" value="Jasa Sarana" />
          <AppInput 
            v-model="formInput.jasa_sarana" 
            id="jasa_sarana" 
            placeholder="Jasa Sarana" 
            :error="errors.jasa_sarana" 
            :disabled="isDisabled"/>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="jasa_pelayanan" value="Jasa Pelayanan" />
          <AppInput 
            v-model="formInput.jasa_pelayanan" 
            id="jasa_pelayanan" 
            placeholder="Jasa Pelayanan" 
            :error="errors.jasa_pelayanan" 
            :disabled="isDisabled"/>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="jasa_bahan" value="Jasa Bahan" />
          <AppInput 
            v-model="formInput.jasa_bahan" 
            id="jasa_bahan" 
            placeholder="Jasa Bahan" 
            :error="errors.jasa_bahan" 
            :disabled="isDisabled"/>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="bpjs_tariff_id" value="BPJS Tarif" />
          <AppInput 
            v-model="formInput.bpjs_tariff_id" 
            id="bpjs_tariff_id" 
            placeholder="BPJS Tarif" 
            :error="errors.bpjs_tariff_id" 
            :disabled="isDisabled"/>
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useTariffStore, useTariffcategoryStore, useTariffgroupStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack,
  AppSelect 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner,
    AppSelect
},
setup () {
  const store = useTariffStore()
  const tariffcategoryStore = useTariffcategoryStore()
  const tariffgroupStore = useTariffgroupStore()
  return { store, tariffcategoryStore, tariffgroupStore }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    formInput: {
      kode: '',
      tariffgroup_id: '',
      tarif: '',
      jasa_sarana: null,
      jasa_pelayanan: null,
      jasa_bahan: null,
      tariffcategory_id: null,
      bpjs_tariff_id: null
    },
    errors: []
  }
},
created () {
  this.clearField()
  this.tariffcategoryStore.fetchData()
  this.tariffgroupStore.fetchData()
},
methods: {
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.create(this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 201) {
          this.clearField()
          this.$router.push({ name: 'tariff' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: '',
      tariffgroup_id: '',
      tarif: '',
      jasa_sarana: null,
      jasa_pelayanan: null,
      jasa_bahan: null,
      tariffcategory_id: null,
      bpjs_tariff_id: null
    }
  }
}
}
</script>