<template>
  <div class="h-screen">
    <TheAppHeader></TheAppHeader>
    <div class="relative pt-28 min-h-screen">
      <RouterView></RouterView>
    </div>
  </div>
</template>

<script setup>
import { useAuthStore } from '@/stores'
import TheAppHeader from '@/components/TheAppHeader.vue'

const auth = useAuthStore() 

if (auth.getNameOfUser === undefined) {
  auth.authUserInfo()
}
</script>