<script setup>
import { onMounted, ref, inject } from "vue";
import { LoadingSpinner } from "@/components/icons";
import { useEventListener, onClickOutside } from "@vueuse/core";
import { useRegistrationStore } from "@/stores";
import { MaskInput } from "maska";

const store = useRegistrationStore();
const emits = defineEmits(["update:modelValue"]);
const props = defineProps({
	modelValue: {
		type: [String, Number],
		default: "",
	},
	error: {
		type: [Array, String],
		default: "",
	},
});

const http = inject("http");
const isOpen = ref(false);
const isLoading = ref(false);
const inputWrap = ref(false);
const input = ref(null);
const inputBtn = ref(null);
const resultList = ref(null);
const resultListItem = ref([]);
const itemCounter = ref(0);
const result = ref([]);
const selectedResult = ref([]);

function showResult() {
	isOpen.value = true;
}

function closeResult() {
	isOpen.value = false;
	itemCounter.value = -1;
	result.value = [];
}

async function fetchData() {
	isLoading.value = true;
	await http
		.get("/patients", { params: { nik: props.modelValue } })
		.then((response) => {
			const data = response.data.data;
			if (data) {
				result.value = data;
			}
		});
	isLoading.value = false;
}

async function onGetResult() {
	if (props.modelValue.length === 16) {
		showResult();
		await fetchData();
		if (result.value.length > 0) itemCounter.value = 0;
	}
}

function onArrowDown(e) {
	e.preventDefault();
	if (isOpen.value) {
		if (itemCounter.value < result.value.length) {
			itemCounter.value = (itemCounter.value + 1) % result.value.length;
		}
	}
}

function onArrowUp(e) {
	e.preventDefault();
	if (isOpen.value) {
		if (itemCounter.value > 0) {
			itemCounter.value = itemCounter.value - 1;
		} else if (itemCounter.value == 0) {
			itemCounter.value = -1;
		}
	}
}

function onEnter() {
	if (isOpen.value) {
		if (result.value.length) {
			selectedResult.value = result.value[itemCounter.value];
			setFormData(result.value[itemCounter.value]);
			closeResult();
		}
	} else {
		onBtnClick();
	}
}

function setResult(data) {
	selectedResult.value = data;
	setFormData(data);
	input.value.focus();
	closeResult();
}

function onBtnClick() {
	inputBtn.value.blur();
	input.value.focus();
	onGetResult();
}

function onInput(e) {
	emits("update:modelValue", e.target.value);
	closeResult();
}

function setFormData(data) {
	store.formData.no_rm = data.no_rm;
	store.formData.nik = data.nik;
	store.formData.no_bpjs = data.no_bpjs;
	store.formData.no_kartu = data.no_kartu;
	store.formData.nama = data.nama;
	store.formData.alamat = data.alamat;
	store.formData.tempat_lahir = data.tempat_lahir;
	store.formData.tgl_lahir = data.tgl_lahir;
	store.formData.nama_kk = data.nama_kk;
	store.formData.sex_id = data.sex_id;
	store.formData.bloodtype_id = data.bloodtype_id;
	store.formData.job_id = data.job_id;
	store.formData.patienttype_id = data.patienttype_id;
	store.formData.education_id = data.education_id;
	store.formData.no_hp = data.no_hp;
	store.setAge(data.tgl_lahir);

	// store.formData.facility_id = data.facility_id;
}

useEventListener(document, "keydown", (e) => {
	if (e.key == "Escape") closeResult();
});

onMounted(() => {
	new MaskInput("[data-maska]");
	onClickOutside(inputWrap, () => closeResult());
});
</script>

<template>
	<div class="relative" ref="inputWrap">
		<!-- <div class="flex gap-x-2">
			<input type="text" class="form-input" />
			<button
				ref="inputBtn"
				class="btn btn-primary"
				@click.prevent="onBtnClick"
			>
				Cari
			</button>
		</div> -->
		<div class="flex gap-x-2">
			<div class="w-full">
				<input
					ref="input"
					v-bind="$attrs"
					@input="onInput"
					:value="modelValue"
					class="form-input"
					maxlength="16"
					data-maska="################"
					@keydown.down="onArrowDown"
					@keydown.up="onArrowUp"
					@keydown.enter="onEnter"
				/>
			</div>
			<div class="shrink-0 space-x-2">
				<button
					ref="inputBtn"
					class="btn btn-primary"
					@click.prevent="onBtnClick"
				>
					Cari
				</button>
			</div>
		</div>
		<ul
			v-if="isOpen"
			ref="resultList"
			class="text-xs divide-y p-2 divide-neutral-200 absolute right-0 z-10 shadow rounded-md w-full max-h-[250px] bg-white ring-1 ring-neutral-200"
		>
			<li v-if="isLoading" class="p-3 grid place-content-center">
				<div class="flex items-center gap-x-2 text-neutral-500">
					<LoadingSpinner class="h-4 w-4"></LoadingSpinner>
					<span>loading ...</span>
				</div>
			</li>
			<li
				v-else-if="result.length === 0"
				class="p-3 text-neutral-400 text-center"
			>
				Data tidak ditemukan
			</li>
			<li
				v-else
				ref="resultListItem"
				class="p-3 hover:bg-primary-50"
				v-for="(item, index) in result"
				:key="index"
				:class="{ 'bg-primary-50': index === itemCounter }"
				@click.prevent="setResult(item)"
			>
				<div class="flex items-center">
					<div class="grow">
						<div class="font-medium">{{ item.nama }}</div>
						<div class="text-neutral-400 mt-1">
							{{ item.no_rm }} / {{ item.tgl_lahir }}
						</div>
					</div>
					<div class="shrink-0 tracking-widest text-neutral-500">
						{{ item.nik }}
					</div>
				</div>
			</li>
		</ul>
	</div>
	<p v-if="error" class="text-sm text-danger-500">
		{{ Array.isArray(error) ? error.toString() : error }}
	</p>
</template>
