<script setup>
import { onMounted, ref, inject, watch } from "vue";
import { LoadingSpinner } from "@/components/icons";
import { useEventListener, onClickOutside, useFocus } from "@vueuse/core";
import {
	AppButton,
	AppTable,
	AppTableRow,
	AppTableCell,
	AppTableHeading,
} from "@/components/base";
import { useRegistrationStore } from "@/stores";

const store = useRegistrationStore();
const emits = defineEmits(["update:modelValue"]);
const props = defineProps({
	modelValue: {
		type: [String, Number],
		default: "",
	},
	error: {
		type: [Array, String],
		default: "",
	},
});

const http = inject("http");
const isOpen = ref(false);
const isLoading = ref(true);
const input = ref(null);
const inputBtn = ref(null);
const result = ref([]);
const resultList = ref(null);
const resultListItem = ref(null);
const itemIndex = ref(-1);
const selectedItem = ref([]);
const dialogPanel = ref();

function showDialog() {
	isOpen.value = true;
}

function closeDialog() {
	isOpen.value = false;
	itemIndex.value = -1;
	result.value = [];
	selectedItem.value = [];
	input.value.focus();
}

async function fetchData() {
	isLoading.value = true;
	await http
		.get("/patients", { params: { q: props.modelValue } })
		.then((response) => {
			const data = response.data.data;
			if (data) {
				result.value = data;
			}
		});
	isLoading.value = false;
}

async function onGetResult() {
	if (props.modelValue.length >= 3) {
		showDialog();
		await fetchData();
	}
}

function onInput(e) {
	emits("update:modelValue", e.target.value);
}

function onBtnClick() {
	inputBtn.value.blur();
	input.value.focus();
	onGetResult();
}

function onItemClick(index) {
	itemIndex.value = index;
	selectedItem.value = result.value[index];
}

function onSelectedItemClick() {
	if (selectedItem.value.length !== 0) {
		setFormData(selectedItem.value);
		closeDialog();
	}
}

function setFormData(data) {
	store.formData.no_rm = data.no_rm;
	store.formData.nik = data.nik;
	store.formData.no_bpjs = data.no_bpjs;
	store.formData.no_kartu = data.no_kartu;
	store.formData.nama = data.nama;
	store.formData.alamat = data.alamat;
	store.formData.tempat_lahir = data.tempat_lahir;
	store.formData.tgl_lahir = data.tgl_lahir;
	store.formData.nama_kk = data.nama_kk;
	store.formData.sex_id = data.sex_id;
	store.formData.bloodtype_id = data.bloodtype_id;
	store.formData.job_id = data.job_id;
	store.formData.patienttype_id = data.patienttype_id;
	store.formData.education_id = data.education_id;
	store.formData.no_hp = data.no_hp;
	store.setAge(data.tgl_lahir);

	// store.formData.facility_id = data.facility_id;
}

function onKey(event) {
	const key = event.key;

	const map = {
		Escape: () => {
			closeDialog();
		},
		Enter: () => {
			if (isOpen.value) {
				onSelectedItemClick();
			} else {
				onBtnClick();
			}
		},
		ArrowDown: () => {
			if (isOpen.value) {
				if (itemIndex.value < result.value.length) {
					itemIndex.value = (itemIndex.value + 1) % result.value.length;
					selectedItem.value = result.value[itemIndex.value];
				}
				fixScrolling();
			}
		},
		ArrowUp: () => {
			if (isOpen.value) {
				if (itemIndex.value > 0) {
					itemIndex.value = itemIndex.value - 1;
				} else if ([0, -1].includes(itemIndex.value)) {
					itemIndex.value = result.value.length - 1;
				}
				selectedItem.value = result.value[itemIndex.value];
				fixScrolling();
			}
		},
	};

	const func = map[key];
	if (func) {
		func();
	}
}

function fixScrolling() {
	const item = itemIndex.value < 0 ? 0 : itemIndex.value;
	const listHeight = resultListItem.value[item].clientHeight;
	resultList.value.scrollTop = listHeight * itemIndex.value;
}

useEventListener(input, "keydown", onKey);
watch(
	() => isOpen.value,
	(val) => {
		const body = document.querySelector("body");
		if (val) {
			body.classList.add("overflow-hidden");
		} else {
			if (body.classList.contains("overflow-hidden")) {
				body.classList.remove("overflow-hidden");
			}
		}
	},
	{ immediate: true, deep: true }
);
</script>
<template>
	<div class="flex gap-x-2">
		<div class="w-full">
			<input
				ref="input"
				v-bind="$attrs"
				@input="onInput"
				:value="modelValue"
				class="form-input"
			/>
		</div>
		<div class="shrink-0 space-x-2">
			<button ref="inputBtn" class="btn btn-primary" @click="onBtnClick">
				Cari
			</button>
		</div>
	</div>
	<div v-if="isOpen" class="relative z-50">
		<div
			class="fixed inset-0 bg-neutral-800 bg-opacity-70 transition-opacity"
		></div>
		<div class="fixed inset-0 z-50 overflow-y-auto overflow-x-hidden">
			<div
				class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
			>
				<div
					ref="dialogPanel"
					class="relative transform overflow-hidden rounded-md text-left w-full max-w-4xl bg-white my-8 transition-all shadow-xl"
				>
					<div>
						<div
							class="flex items-center justify-between px-5 py-3 border-b rounded-t dark:border-gray-600"
						>
							<h3 class="font-medium text-neutral-800 dark:text-white">
								Pencarian data pasien
							</h3>
							<button
								@click="closeDialog"
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
							>
								<svg
									class="w-3 h-3"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 14 14"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
									/>
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<div>
							<div
								v-if="result.length > 0"
								class="px-5 py-4 border-b space-y-4"
							>
								<div class="text-sm font-medium">
									{{ result.length }}
									<span class="text-neutral-500">Pasien Ditemukan</span>
								</div>
							</div>
							<div ref="resultList" class="max-h-[400px] overflow-y-auto">
								<div v-if="isLoading" class="grid place-content-center py-5">
									<div class="flex items-center gap-x-2 text-neutral-500">
										<LoadingSpinner class="h-4 w-4"></LoadingSpinner>
										<span>loading ...</span>
									</div>
								</div>
								<div
									v-else-if="result.length === 0"
									class="text-center py-5 text-neutral-500"
								>
									Data tidak ditemukan
								</div>
								<div v-else>
									<AppTable>
										<template v-slot:head>
											<AppTableRow>
												<AppTableHeading class="w-auto"
													>Nama Pasien</AppTableHeading
												>
												<AppTableHeading class="w-28">No.RM</AppTableHeading>
												<AppTableHeading class="w-40">NIK</AppTableHeading>
												<AppTableHeading class="w-36"
													>Tanggal Lahir</AppTableHeading
												>
												<AppTableHeading>Alamat</AppTableHeading>
											</AppTableRow>
										</template>
										<template v-slot:body>
											<template v-for="(item, index) in result" :key="index">
												<tr
													ref="resultListItem"
													class="cursor-pointer"
													@click="onItemClick(index)"
													:class="{ 'bg-primary-50': index === itemIndex }"
												>
													<AppTableCell>
														<div class="font-medium text-neutral-800">
															{{ item.nama }}
														</div>
														<div>
															{{ item.nama_kk }}
														</div>
													</AppTableCell>
													<AppTableCell class="text-neutral-800">{{
														item.no_rm
													}}</AppTableCell>
													<AppTableCell class="text-neutral-800">{{
														item.nik
													}}</AppTableCell>
													<AppTableCell>{{ item.tgl_lahir }}</AppTableCell>
													<AppTableCell>
														{{ item.alamat }}
													</AppTableCell>
												</tr>
											</template>
										</template>
									</AppTable>
								</div>
							</div>

							<div class="bg-neutral-100 px-5 py-4">
								<div class="flex items-center">
									<!-- <button class="text-neutral-400 font-medium hover:text-neutral-500">Keluar</button> -->
									<div class="ml-auto flex item-center space-x-2">
										<AppButton variant="dark"
											>Gunakan untuk pendaftaran baru</AppButton
										>
										<AppButton variant="primary" @click="onSelectedItemClick()"
											>Pilih</AppButton
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
