<template>
	<div class="relative">
		<div class="border-b bg-white sticky top-[112px] z-45">
			<div class="flex items-center">
				<div class="px-5 py-2 text-sm flex items-center gap-x-2">
					<div class="text-neutral-500">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-8 h-8"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
							/>
						</svg>
					</div>
					<div class="space-y-0.5">
						<div class="font-semibold text-xs text-neutral-800 uppercase">
							Petugas
						</div>
						<div class="text-neutral-500">William Graham Alexander</div>
					</div>
				</div>

				<div class="py-2 text-sm px-5 space-y-1">
					<div class="font-semibold text-xs text-neutral-800 uppercase">
						Status BPJS
					</div>
					<div class="flex items-center space-x-3">
						<span
							class="flex items-center text-sm text-success-600 font-medium animate-pulse"
						>
							<span
								class="flex w-2.5 h-2.5 bg-success-500 rounded-full mr-1.5 flex-shrink-0"
							></span
							>Server Online
						</span>
						<span
							class="flex items-center text-sm text-neutral-300 font-medium"
						>
							<span
								class="flex w-2.5 h-2.5 bg-neutral-300 rounded-full mr-1.5 flex-shrink-0"
							></span
							>Verifikasi Offline
						</span>
					</div>
				</div>

				<div class="ml-auto flex items-center gap-x-2 px-5 py-2">
					<AppButton variant="dark" type="button" @click="store.resetField()">
						<span>Batalkan</span>
					</AppButton>
					<AppButton type="button" @click="store.register">
						<span>Daftarkan Pasien</span>
						<ArrowRightIcon class="h-5 w-5"></ArrowRightIcon>
					</AppButton>
				</div>
			</div>
		</div>

		<div
			v-if="Object.entries(store.errors).length"
			class="px-5 py-4 bg-danger-50"
		>
			<div class="font-semibold text-danger-500 text-sm">
				Kesalahan ditemukan
			</div>
			<!-- <ul class="mt-2 text-sm list-disc list-inside leading-relaxed">
						<li v-for="error in store.errors" class="text-danger-500">
							{{ error.toString() }}
						</li>
					</ul> -->
		</div>
		<div class="grid grid-cols-12">
			<div class="col-span-8 2xl:col-span-6 shrink-0 border-r">
				<div class="py-3 px-5 bg-neutral-50">
					<div class="text-sm font-medium">Informasi Kunjungan</div>
				</div>
				<div class="space-y-3 px-5 py-3">
					<!-- Tanggal Kunjunga4 -->
					<div
						class="grid grid-cols-3 gap-4"
						:class="{ 'bg-danger-50': store.errors.tgl }"
					>
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Tanggal
						</div>
						<div class="text-sm leading-6 col-span-2">
							<VueDatePicker
								v-model="store.formData.tgl"
								:enable-time-picker="false"
								auto-apply
								:format="store.formatDate"
								model-type="dd-MM-yyyy"
								position="left"
							>
								<template #dp-input="{ value }">
									<input type="text" :value="value" :class="['form-input']" />
								</template>
							</VueDatePicker>
							<p v-if="store.errors.tgl" class="mt-2 text-danger-500 text-sm">
								{{ store.rors.tgl.toString() }}
							</p>
						</div>
					</div>

					<!-- Jenis kunjungan -->
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Jenis Kunjungan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex items-center gap-x-5">
								<template v-for="vtype in store.visitType">
									<div class="flex items-center gap-x-2">
										<input
											v-model="store.formData.groupvisit"
											:value="vtype.id"
											type="radio"
											name="jenis-kunjungan"
											:id="'visit-type-' + vtype.id"
											class="h-4 w-4"
										/>
										<label :for="'visit-type-' + vtype.id" class="text-sm">{{
											vtype.value
										}}</label>
									</div>
								</template>
							</div>
						</div>
					</div>

					<!-- Lokasi Pemeriksaan -->
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Lokasi Pemeriksaan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<input
										v-model="facilityCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select
										class="form-input"
										v-model="store.formData.facility_id"
									>
										<option value="">Pilih Lokasi</option>
										<template v-for="(facility, index) in store.facilities">
											<option :value="facility.id">{{ facility.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.facility_id"
								class="mt-2 text-danger-500 text-sm"
							>
								{{ store.errors.facility_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Unit Pelayanan -->
					<div
						class="grid grid-cols-3 gap-4"
						:class="{ 'bg-danger-50': store.errors.department_id }"
					>
						<div
							class="text-sm font-medium leading-6 after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Unit Pelayanan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="grid grid-cols-3 gap-3">
								<template v-for="(department, index) in store.departments">
									<div class="flex items-center space-x-2">
										<input
											v-model="store.formData.department_id"
											:id="'department-option-' + department.id"
											type="checkbox"
											:value="department.id"
											class="input-checkbox"
										/>
										<label
											:for="'department-option-' + department.id"
											class="text-sm"
											>{{ department.unit_pelayanan }}</label
										>
									</div>
								</template>
							</div>
							<p
								v-if="store.errors.department_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.department_id.toString() }}
							</p>
						</div>
					</div>
					<!-- Kunjungan sakit -->
					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Kunjungan Sakit
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-40">
									<select
										v-model="store.formData.kunj_sakit"
										class="form-input"
									>
										<option value="1">Kunjungan Sakit</option>
										<option value="0">Kunjungan Sehat</option>
									</select>
								</div>
								<div class="grow">
									<select
										v-model="store.formData.bpjs_poli"
										:class="['form-input']"
									>
										<option value="">Pilih Kunjungan</option>
										<template
											v-for="kunjSakitPoli in store.bpjsPoly(
												store.formData.kunj_sakit
											)"
										>
											<option :value="kunjSakitPoli.kdPoli">
												{{ kunjSakitPoli.nmPoli }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.bpjs_poli"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.bpjs_poli.toString() }}
							</p>
						</div>
					</div>

					<!-- Jenis Pasien -->
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Jenis Pasien
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<input
										v-model="patientTypeCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select
										v-model="store.formData.patienttype_id"
										class="form-input"
									>
										<option value="">Pilih Jenis Pasien</option>
										<template
											v-for="(patienttype, index) in store.patienttypes"
										>
											<option :value="patienttype.id">
												{{ patienttype.value }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.patienttype_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.patienttype_id.toString() }}
							</p>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Kode Administrasi
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput v-model="store.formData.administrasi_pasien" />
						</div>
					</div>
				</div>
				<div class="py-3 px-5 bg-neutral-50">
					<div class="text-sm font-medium leading-6">Informasi Pasien</div>
				</div>
				<div class="space-y-3 py-3 px-5">
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							No. Index Pasien / RM
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputRm v-model="store.formData.no_rm"></InputRm>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							NIK
						</div>
						<div class="text-sm col-span-2">
							<InputNik
								v-model="store.formData.nik"
								:error="store.errors.nik"
							></InputNik>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. BPJS
						</div>
						<div class="text-sm col-span-2">
							<InputBpjs
								v-model="store.formData.no_bpjs"
								:error="store.errors.no_bpjs"
							></InputBpjs>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. kartu Sehat
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputKartuSehat
								v-model="store.formData.no_kartu"
								:error="store.errors.no_kartu"
							></InputKartuSehat>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Nama Kepala Keluarga
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputNamakk
								v-model="store.formData.nama_kk"
								:error="store.errors.nama_kk"
							></InputNamakk>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Nama Pasien
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputNama
								v-model="store.formData.nama"
								:error="store.errors.nama"
							></InputNama>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. Telepon
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput v-model="store.formData.no_hp" />
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Tempat Lahir
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput
								v-model="store.formData.tempat_lahir"
								type="text"
								placeholder="Tempat Lahir"
							/>
							<p
								v-if="store.errors.tempat_lahir"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.tempat_lahir.toString() }}
							</p>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 mt-1 after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Tanggal Lahir
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="space-y-4">
								<div>
									<AppInput
										data-maska="##-##-####"
										v-model="birtdDate"
										type="text"
										placeholder="DD-MM-YYYY"
										maxlength="10"
									/>
									<p
										v-if="store.errors.tgl_lahir"
										class="mt-2 text-sm text-danger-500"
									>
										{{ store.errors.tgl_lahir.toString() }}
									</p>
									<p class="mt-2 text-sm text-neutral-400">
										Format: (dd-mm-yyyy) *tanda "-" otomatis ditambahkan. Tidak
										perlu ditulis.
									</p>
								</div>
							</div>
							<div class="grid grid-cols-3 gap-x-4 mt-5">
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Tahun</div>
										</div>
										<AppInput
											v-model="store.formData.umur"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Bulan</div>
										</div>
										<AppInput
											v-model="store.formData.bulanlahir"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Hari</div>
										</div>
										<AppInput
											v-model="store.formData.harilahir"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Jenis Kelamin
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="genderCode"
										data-maska="#"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="store.formData.sex_id" class="form-input">
										<option value="">Pilih Jenis Kelamin</option>
										<template v-for="gender in store.sexes">
											<option :value="gender.id">{{ gender.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.sex_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.sex_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Golongan darah -->
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Golongan Darah
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="bloodtypeCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select
										v-model="store.formData.bloodtype_id"
										class="form-input"
									>
										<option value="">Pilih Golongan Darah</option>
										<template v-for="gender in store.bloodtypes">
											<option :value="gender.id">{{ gender.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.bloodtype_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.bloodtype_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Pendidikan -->
					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Pendidikan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="educationCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select
										v-model="store.formData.education_id"
										class="form-input"
									>
										<option value="">Pilih Pedidikan</option>
										<template v-for="education in store.educations">
											<option :value="education.id">
												{{ education.value }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.education_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.education_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Pekerjaan -->
					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 self-center after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Pekerjaan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="jobCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="store.formData.job_id" class="form-input">
										<option value="">Pilih Pekerjaan</option>
										<template v-for="job in store.jobs">
											<option :value="job.id">{{ job.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="store.errors.job_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ store.errors.job_id.toString() }}
							</p>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div
							class="text-sm font-medium leading-6 after:content-['*'] after:ml-0.5 after:text-danger-500"
						>
							Alamat
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div>
								<div class="mb-3 font-medium">Alamat Sesuai KTP</div>
								<div class="grid grid-cols-2 gap-3">
									<div class="col-span-2">
										<AppInput
											v-model="store.formData.alamat"
											placeholder="Alamat"
										/>
									</div>
									<div>
										<AppInput
											v-model="store.originAddress.rt"
											placeholder="RT"
										/>
									</div>
									<div>
										<AppInput
											v-model="store.originAddress.rw"
											placeholder="RW"
										/>
									</div>
									<div>
										<AppInputSelect
											v-model="originProvince"
											:options="store.provinces"
											optionValue="id"
											optionLabel="provinsi"
											emptyLabel="Pilih Provinsi"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originRegency"
											:options="store.regionRef.origin.regencies"
											optionValue="id"
											optionLabel="kabupaten"
											emptyLabel="Pilih Kabupaten"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originDistrict"
											:options="store.regionRef.origin.districts"
											optionValue="id"
											optionLabel="kecamatan"
											emptyLabel="Pilih Kecamatan"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originVillage"
											:options="store.regionRef.origin.villages"
											optionValue="id"
											optionLabel="desa"
											emptyLabel="Pilih Desa"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originHamlet"
											:options="store.regionRef.origin.hamlets"
											optionValue="id"
											optionLabel="dusun"
											emptyLabel="Pilih Dusun"
										>
										</AppInputSelect>
									</div>
								</div>
								<p
									v-if="store.errors.alamat"
									class="mt-2 text-sm text-danger-500"
								>
									{{ store.errors.alamat.toString() }}
								</p>
							</div>

							<div class="mt-5">
								<div class="mb-3 font-medium">Alamat Domisili</div>
								<div class="grid grid-cols-2 gap-3">
									<div class="col-span-2">
										<div class="flex items-center space-x-2">
											<input
												v-model="originAsDomisili"
												id="domisili"
												type="checkbox"
												class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 rounded focus:ring-offset-0 focus:ring-primary-200 focus:ring-4 focus:border-primary-300"
											/>
											<label for="domisili"
												>Alamat domisili sama dengan KTP</label
											>
										</div>
									</div>
									<div class="col-span-2">
										<AppInput
											v-model="store.domisiliAddress.alamat"
											placeholder="Alamat"
											:disabled="store.originAsDomisili"
										/>
									</div>
									<div>
										<AppInput
											v-model="store.domisiliAddress.rt"
											placeholder="RT"
											:disabled="store.originAsDomisili"
										/>
									</div>
									<div>
										<AppInput
											v-model="store.domisiliAddress.rw"
											placeholder="RW"
											:disabled="store.originAsDomisili"
										/>
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliProvince"
											:options="store.provinces"
											optionValue="id"
											optionLabel="provinsi"
											emptyLabel="Pilih Provinsi"
											:disabled="store.originAsDomisili"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliRegency"
											:options="store.regionRef.domisili.regencies"
											optionValue="id"
											optionLabel="kabupaten"
											emptyLabel="Pilih Kabupaten"
											:disabled="store.originAsDomisili"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliDistrict"
											:options="store.regionRef.domisili.districts"
											optionValue="id"
											optionLabel="kecamatan"
											emptyLabel="Pilih Kecamatan"
											:disabled="store.originAsDomisili"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliVillage"
											:options="store.regionRef.domisili.villages"
											optionValue="id"
											optionLabel="desa"
											emptyLabel="Pilih Desa"
											:disabled="store.originAsDomisili"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliHamlet"
											:options="store.regionRef.domisili.hamlets"
											optionValue="id"
											optionLabel="dusun"
											emptyLabel="Pilih Dusun"
											:disabled="store.originAsDomisili"
										>
										</AppInputSelect>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Asal Sekolah
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<AppInput />
							</div>
						</div>
					</div>

					<div class="grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 mt-1">
							Penyandang Disabilitas
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="space-y-2">
								<select class="form-input">
									<option value="">Pilih Kecacatan</option>
									<template v-for="(cacat, index) in store.kecacatan">
										<option :value="index">{{ cacat }}</option>
									</template>
								</select>
								<p class="text-xs text-neutral-400">
									Pilih jika pasien disabilitas
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-span-4 border-r 2xl:col-span-3">
				<div class="p-5">
					<div class="bg-white rounded-md border">
						<div class="flex items-center border-b p-4">
							<div class="">
								<div class="text-sm font-semibold">Verifikasi BPJS</div>
								<div class="mt-0.5 font-semibold">1008889993444423</div>
							</div>
							<div class="ml-auto item">
								<div
									class="text-sm bg-success-50 border border-success-500 px-2 py-1 rounded-md text-success-500 font-medium"
								>
									Aktif
								</div>
							</div>
						</div>
						<div class="p-5">
							<dl class="space-y-2">
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 text-gray-900 sm:col-span-2"
									>
										Nama
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										PAULINE LANGWORTH
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 text-gray-900 sm:col-span-2"
									>
										NIK
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										9999999999999999
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 text-gray-900 sm:col-span-2"
									>
										Jenis Kelamin
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										L
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 text-gray-900 sm:col-span-2"
									>
										Tanggal Lahir
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										10-10-1998
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 text-gray-900 sm:col-span-2"
									>
										Tanggal Mulai Aktif
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										10-10-1998
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 sm:col-span-2 text-gray-900"
									>
										Tanggal Akhir Berlaku
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										10-10-1998
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 sm:col-span-2 text-gray-900"
									>
										Provider
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										Depok I
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 sm:col-span-2 text-gray-900"
									>
										Kelas
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										Kelas II
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 sm:col-span-2 text-gray-900"
									>
										Jenis Peserta
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										Pekerja Mandiri
									</dd>
								</div>
								<div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:px-0">
									<dt
										class="text-sm font-medium leading-6 sm:col-span-2 text-gray-900"
									>
										Golongan Darah
									</dt>
									<dd
										class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
									>
										A
									</dd>
								</div>
							</dl>
						</div>
					</div>
				</div>

				<!-- <div class="border-b">
					<div class="font-medium py-3 px-4 bg-neutral-50 text-sm">
						Skrining Visual
					</div>
					<div class="p-4">
						<div class="grid w-full gap-4 grid-cols-2">
							<div>
								<input
									type="radio"
									id="visual-green"
									name="skrining"
									value=""
									class="hidden peer"
								/>
								<label
									for="visual-green"
									class="min-h-[120px] inline-flex items-center w-full p-4 text-green-500 bg-white border border-neutral-200 rounded-lg cursor-pointer peer-checked:bg-green-50 peer-checked:border-green-500 peer-checked:text-green-500 hover:bg-neutral-50"
								>
									<ul class="text-xs leading-5 w-full text-center">
										<li>Kondisi Stabil</li>
									</ul>
								</label>
							</div>
							<div>
								<input
									type="radio"
									id="visual-yellow"
									name="skrining"
									value=""
									class="hidden peer"
								/>
								<label
									for="visual-yellow"
									class="min-h-[120px] inline-flex items-center w-full p-4 text-yellow-500 bg-white border border-neutral-200 rounded-lg cursor-pointer peer-checked:bg-yellow-50 peer-checked:border-yellow-500 peer-checked:text-yellow-500 hover:bg-neutral-50"
								>
									<ul class="text-xs leading-5 w-full text-center">
										<li>Pucat</li>
										<li>Lemas</li>
										<li>Sempoyongan</li>
									</ul>
								</label>
							</div>
							<div>
								<input
									type="radio"
									id="visual-orange"
									name="skrining"
									value=""
									class="hidden peer"
								/>
								<label
									for="visual-orange"
									class="min-h-[120px] inline-flex items-center w-full p-4 text-orange-500 bg-white border border-neutral-200 rounded-lg cursor-pointer peer-checked:bg-orange-50 peer-checked:border-orange-500 peer-checked:text-orange-500 hover:bg-neutral-50"
								>
									<ul class="text-xs leading-5 w-full text-center">
										<li>Nyeri Hebat</li>
										<li>Nyeri Dada</li>
									</ul>
								</label>
							</div>
							<div>
								<input
									type="radio"
									id="visual-red"
									name="skrining"
									value=""
									class="hidden peer"
								/>
								<label
									for="visual-red"
									class="min-h-[120px] inline-flex items-center w-full p-4 text-danger-500 bg-white border border-neutral-200 rounded-lg cursor-pointer peer-checked:bg-danger-50 peer-checked:border-danger-500 peer-checked:text-danger-500 hover:bg-neutral-50"
								>
									<ul class="text-xs leading-5 w-full text-center">
										<li>Tidak Sadar/Pingsan</li>
										<li>Kesulitan/Tdk Bernafas</li>
										<li>Nadi/Jantung tidak berdetak</li>
										<li>Kejang Lama/Berulang</li>
									</ul>
								</label>
							</div>
						</div>
						<div class="p-4 border mt-4 rounded-lg">
							<div class="flex items-center">
								<div class="flex items-center gap-x-2">
									<input type="checkbox" class="input-checkbox" />
									<label class="text-sm font-medium">Resiko Jatuh</label>
								</div>
								<div class="ml-4 w-28">
									<input
										type="number"
										step="number"
										class="form-input"
										placeholder="Skor: 1-10"
									/>
								</div>
							</div>
							<ul class="text-xs list-disc list-inside leading-6">
								<li>Alat bantu jalan</li>
								<li>Gangguan pola jalan</li>
								<li>Ada penutup mata</li>
								<li>Gangguan pola jalan</li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>

			<!-- <div
				class="col-span-3 bg-danger-50 text-sm p-10 w-full whitespace-pre leading-6"
			>
				<div>
					<div>form input</div>
					{{ store.formData }}
				</div>
				<div>
					<div>origin address</div>
					{{ store.originAddress }}
				</div>
				<div>
					<div>domisili address</div>
					{{ store.domisiliAddress }}
				</div>
				<div v-if="store.errors" class="text-danger-500">
					{{ store.errors }}
				</div>
			</div> -->
		</div>
	</div>
	<SearchDialog
		:show="dialog"
		@close="closeDialog"
		title="Pencarian data pasien"
	>
		<div class="px-5 py-4 border-b space-y-4">
			<!-- <div class="flex items-center gap-x-4">
      <div class="w-56 shrink-0">
        <AppInputSelect 
          :options="searchType" 
          optionValue="value" 
          optionLabel="label"
          emptyLabel="Pilih Jenis Pencarian"
          emptyDisabled
        >
        </AppInputSelect>
      </div>
      <div class="grow">
        <AppInput type="text" placeholder="Keyword" />
      </div>
      <div>
        <AppButton>Cari</AppButton>
      </div>
    </div> -->
			<div class="text-sm font-medium">
				4 <span class="text-neutral-500">Pasien Ditemukan</span>
			</div>
		</div>

		<div class="max-h-[400px] overflow-y-auto">
			<AppTable>
				<template v-slot:head>
					<AppTableRow>
						<AppTableHeading class="w-auto">Nama Pasien</AppTableHeading>
						<AppTableHeading class="w-28">No.RM</AppTableHeading>
						<AppTableHeading class="w-28">NIK</AppTableHeading>
						<AppTableHeading class="w-36">Tanggal Lahir</AppTableHeading>
						<AppTableHeading>Alamat</AppTableHeading>
					</AppTableRow>
				</template>
				<template v-slot:body>
					<template v-for="n in 6">
						<AppTableRow class="cursor-pointer">
							<AppTableCell>
								<div class="font-medium">John Walker Hidayat Sugiono</div>
								<div class="text-neutral-500">Kepala keluarga John</div>
							</AppTableCell>
							<AppTableCell>0000000100</AppTableCell>
							<AppTableCell>0000000100</AppTableCell>
							<AppTableCell>10-10-2023</AppTableCell>
							<AppTableCell>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
								ullamcorper magna magna, eget egestas orci ultricies id
							</AppTableCell>
						</AppTableRow>
					</template>
				</template>
			</AppTable>
		</div>

		<div class="bg-neutral-100 px-5 py-4">
			<div class="flex items-center">
				<!-- <button class="text-neutral-400 font-medium hover:text-neutral-500">Keluar</button> -->
				<div class="ml-auto flex item-center space-x-2">
					<AppButton variant="dark">Gunakan untuk pendaftaran baru</AppButton>
					<AppButton variant="primary">Pilih</AppButton>
				</div>
			</div>
		</div>
	</SearchDialog>
</template>

<script>
import SearchDialog from "./SearchDialog.vue";
import InputRm from "./InputRm.vue";
import InputNik from "./InputNik.vue";
import InputBpjs from "./InputBpjs.vue";
import InputKartuSehat from "./InputKartuSehat.vue";
import InputNamakk from "./InputNamakk.vue";
import InputNama from "./InputNama.vue";
import { useRegistrationStore, useAuthStore } from "@/stores";
import { ArrowRightIcon } from "@heroicons/vue/24/solid";
import { MaskInput } from "maska";
import {
	AppInput,
	AppInputLabel,
	AppInputSelect,
	AppButton,
	AppTable,
	AppTableCell,
	AppTableHeading,
	AppTableRow,
} from "@/components/base";

export default {
	components: {
		AppInput,
		AppInputLabel,
		AppInputSelect,
		AppButton,
		ArrowRightIcon,
		AppTable,
		AppTableCell,
		AppTableHeading,
		AppTableRow,
		SearchDialog,
		InputNik,
		InputBpjs,
		InputKartuSehat,
		InputNamakk,
		InputNama,
		InputRm,
	},

	setup() {
		const store = useRegistrationStore();
		const auth = useAuthStore();
		store.fetchDataReference();
		auth.$subscribe(
			(mutations, state) => {
				store.formData.entry_id = state.user.id;
			},
			{ detached: true }
		);

		return {
			store,
			auth,
		};
	},
	data() {
		return {
			dialog: false,
		};
	},
	watch: {
		"store.formData.alamat"(val) {
			this.store.originAddress.alamat = val;
		},
		"store.originAddress": {
			handler(val) {
				if (this.store.originAsDomisili) {
					this.store.domisiliAddress = {
						alamat: this.store.originAddress.alamat,
						rt: this.store.originAddress.rt,
						rw: this.store.originAddress.rw,
						province_id: this.store.originAddress.province_id,
						regency_id: this.store.originAddress.regency_id,
						district_id: this.store.originAddress.district_id,
						village_id: this.store.originAddress.village_id,
						hamlet_id: this.store.originAddress.hamlet_id,
					};
					this.store.regionRef.domisili = {
						regencies: this.store.regionRef.origin.regencies,
						districts: this.store.regionRef.origin.districts,
						villages: this.store.regionRef.origin.villages,
						hamlets: this.store.regionRef.origin.hamlets,
					};
				}
			},
			deep: true,
		},
		"store.originAddress.alamat"(val) {
			if (this.store.originAsDomisili) {
				this.store.domisiliAddress.alamat = val;
			}
		},
	},
	computed: {
		facilityCode: {
			get() {
				const facilityId = this.store.formData.facility_id;
				let code = null;
				if (facilityId) {
					code = this.store.facilities.find(
						(item) => item.id == facilityId
					)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length == 2) {
					const data = this.store.facilities.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.store.formData.facility_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.facility_id = "";
				}
			},
		},

		patientTypeCode: {
			get() {
				const typeId = this.store.formData.patienttype_id;
				let code = null;
				if (typeId) {
					code = this.store.patienttypes.find(
						(item) => item.id == typeId
					)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length == 2) {
					const data = this.store.patienttypes.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.store.formData.patienttype_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.patienttype_id = "";
				}
			},
		},

		genderCode: {
			get() {
				const dataId = this.store.formData.sex_id;
				let code = null;
				if (dataId) {
					code = this.store.sexes.find((item) => item.id == dataId)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.sexes.find((item) => item.kode == newValue);
					if (data !== undefined) {
						this.store.formData.sex_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.sex_id = "";
				}
			},
		},

		bloodtypeCode: {
			get() {
				const dataId = this.store.formData.bloodtype_id;
				let code = null;
				if (dataId) {
					code = this.store.bloodtypes.find((item) => item.id == dataId)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.bloodtypes.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.store.formData.bloodtype_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.bloodtype_id = "";
				}
			},
		},

		educationCode: {
			get() {
				const dataId = this.store.formData.education_id;
				let code = null;
				if (dataId) {
					code = this.store.educations.find((item) => item.id == dataId)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.educations.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.store.formData.education_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.education_id = "";
				}
			},
		},

		jobCode: {
			get() {
				const dataId = this.store.formData.job_id;
				let code = null;
				if (dataId) {
					code = this.store.jobs.find((item) => item.id == dataId)?.kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.jobs.find((item) => item.kode == newValue);
					if (data !== undefined) {
						this.store.formData.job_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.store.formData.job_id = "";
				}
			},
		},

		birtdDate: {
			get() {
				return this.store.formData.tgl_lahir;
			},
			set(newValue) {
				this.store.formData.tgl_lahir = newValue;
				this.store.setAge(newValue);
			},
		},

		originProvince: {
			get() {
				return this.store.originAddress.province_id;
			},
			set(newValue) {
				this.store.originAddress.province_id = newValue;
				if (newValue) {
					this.store.fetchRegencies(newValue).then((response) => {
						this.store.regionRef.origin.regencies = response.data.data;
						this.store.originAddress.regency_id = "";
						this.store.originAddress.district_id = "";
						this.store.originAddress.village_id = "";
						this.store.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.regencies = [];
					this.store.regionRef.origin.districts = [];
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.store.originAddress.regency_id = "";
					this.store.originAddress.district_id = "";
					this.store.originAddress.village_id = "";
					this.store.originAddress.hamlet_id = "";
				}
			},
		},
		originRegency: {
			get() {
				return this.store.originAddress.regency_id;
			},
			set(newValue) {
				this.store.originAddress.regency_id = newValue;
				if (newValue) {
					this.store.fetchDistricts(newValue).then((response) => {
						this.store.regionRef.origin.districts = response.data.data;
						this.store.originAddress.district_id = "";
						this.store.originAddress.village_id = "";
						this.store.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.districts = [];
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.store.originAddress.district_id = "";
					this.store.originAddress.village_id = "";
					this.store.originAddress.hamlet_id = "";
				}
			},
		},
		originDistrict: {
			get() {
				return this.store.originAddress.district_id;
			},
			set(newValue) {
				this.store.originAddress.district_id = newValue;
				if (newValue) {
					this.store.fetchVillages(newValue).then((response) => {
						this.store.regionRef.origin.villages = response.data.data;
						this.store.originAddress.village_id = "";
						this.store.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.store.originAddress.village_id = "";
					this.store.originAddress.hamlet_id = "";
				}
			},
		},
		originVillage: {
			get() {
				return this.store.originAddress.village_id;
			},
			set(newValue) {
				this.store.originAddress.village_id = newValue;
				if (newValue) {
					this.store.fetchHamlets(newValue).then((response) => {
						this.store.regionRef.origin.hamlets = response.data.data;
						this.store.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.hamlets = [];
					this.store.originAddress.hamlet_id = "";
				}
				this.store.formData.village_id = newValue;
			},
		},
		originHamlet: {
			get() {
				return this.store.originAddress.hamlet_id;
			},
			set(newValue) {
				this.store.originAddress.hamlet_id = newValue;
				this.store.formData.hamlet_id = newValue;
			},
		},

		domisiliProvince: {
			get() {
				return this.store.domisiliAddress.province_id;
			},
			set(newValue) {
				this.store.domisiliAddress.province_id = newValue;
				if (newValue) {
					this.store.fetchRegencies(newValue).then((response) => {
						this.store.regionRef.domisili.regencies = response.data.data;
						this.store.domisiliAddress.regency_id = "";
						this.store.domisiliAddress.district_id = "";
						this.store.domisiliAddress.village_id = "";
						this.store.domisiliAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.domisili.regencies = [];
					this.store.regionRef.domisili.districts = [];
					this.store.regionRef.domisili.villages = [];
					this.store.regionRef.domisili.hamlets = [];
					this.store.domisiliAddress.regency_id = "";
					this.store.domisiliAddress.district_id = "";
					this.store.domisiliAddress.village_id = "";
					this.store.domisiliAddress.hamlet_id = "";
				}
			},
		},

		domisiliRegency: {
			get() {
				return this.store.domisiliAddress.regency_id;
			},
			set(newValue) {
				this.store.domisiliAddress.regency_id = newValue;
				if (newValue) {
					this.store.fetchDistricts(newValue).then((response) => {
						this.store.regionRef.domisili.districts = response.data.data;
						this.store.domisiliAddress.district_id = "";
						this.store.domisiliAddress.village_id = "";
						this.store.domisiliAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.domisili.districts = [];
					this.store.regionRef.domisili.villages = [];
					this.store.regionRef.domisili.hamlets = [];
					this.store.domisiliAddress.district_id = "";
					this.store.domisiliAddress.village_id = "";
					this.store.domisiliAddress.hamlet_id = "";
				}
			},
		},

		domisiliDistrict: {
			get() {
				return this.store.domisiliAddress.district_id;
			},
			set(newValue) {
				this.store.domisiliAddress.district_id = newValue;
				if (newValue) {
					this.store.fetchVillages(newValue).then((response) => {
						this.store.regionRef.domisili.villages = response.data.data;
						this.store.domisiliAddress.village_id = "";
						this.store.domisiliAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.domisili.villages = [];
					this.store.regionRef.domisili.hamlets = [];
					this.store.domisiliAddress.village_id = "";
					this.store.domisiliAddress.hamlet_id = "";
				}
			},
		},

		domisiliVillage: {
			get() {
				return this.store.domisiliAddress.village_id;
			},
			set(newValue) {
				this.store.domisiliAddress.village_id = newValue;
				if (newValue) {
					this.store.fetchHamlets(newValue).then((response) => {
						this.store.regionRef.domisili.hamlets = response.data.data;
						this.store.domisiliAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.domisili.hamlets = [];
					this.store.domisiliAddress.hamlet_id = "";
				}
				this.store.formData.village_id = newValue;
			},
		},

		domisiliHamlet: {
			get() {
				return this.store.domisiliAddress.hamlet_id;
			},
			set(newValue) {
				this.store.domisiliAddress.hamlet_id = newValue;
				this.store.formData.hamlet_id = newValue;
			},
		},

		originAsDomisili: {
			get() {
				return this.store.originAsDomisili;
			},
			set(newValue) {
				this.store.originAsDomisili = newValue;
				if (newValue) {
					this.store.domisiliAddress = {
						alamat: this.store.originAddress.alamat,
						rt: this.store.originAddress.rt,
						rw: this.store.originAddress.rw,
						province_id: this.store.originAddress.province_id,
						regency_id: this.store.originAddress.regency_id,
						district_id: this.store.originAddress.district_id,
						village_id: this.store.originAddress.village_id,
						hamlet_id: this.store.originAddress.hamlet_id,
					};
					this.store.regionRef.domisili = {
						regencies: this.store.regionRef.origin.regencies,
						districts: this.store.regionRef.origin.districts,
						villages: this.store.regionRef.origin.villages,
						hamlets: this.store.regionRef.origin.hamlets,
					};
				} else {
					this.store.domisiliAddress = {
						alamat: "",
						rt: "",
						rw: "",
						province_id: "",
						regency_id: "",
						district_id: "",
						village_id: "",
						hamlet_id: "",
					};
					this.store.regionRef.domisili = {
						districts: [],
						hamlets: [],
						regencies: [],
						villages: [],
					};
				}
			},
		},
	},
	mounted() {
		new MaskInput("[data-maska]");
	},
	methods: {
		closeDialog() {
			this.dialog = false;
		},
	},
};
</script>
