<template>
	<div class="relative">
		<div class="border-b bg-white sticky top-[112px] z-45">
			<div class="flex items-center">
				<div class="px-5 py-2 text-sm flex items-center gap-x-2">
					<div class="text-neutral-500">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-8 h-8"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
							/>
						</svg>
					</div>
					<div class="space-y-0.5">
						<div class="font-semibold text-xs text-neutral-800 uppercase">
							Petugas
						</div>
						<div class="text-neutral-500">William Graham Alexander</div>
					</div>
				</div>

				<div class="py-2 text-sm px-5 space-y-1">
					<div class="font-semibold text-xs text-neutral-800 uppercase">
						Status BPJS
					</div>
					<div class="flex items-center space-x-3">
						<span
							class="flex items-center text-sm text-success-600 font-medium animate-pulse"
						>
							<span
								class="flex w-2.5 h-2.5 bg-success-500 rounded-full mr-1.5 flex-shrink-0"
							></span
							>Server Online
						</span>
						<!-- <span class="flex items-center text-sm text-neutral-300 font-medium">
              <span class="flex w-2.5 h-2.5 bg-neutral-300 rounded-full mr-1.5 flex-shrink-0"></span>Server (Offline)
            </span> -->
						<span
							class="flex items-center text-sm text-neutral-300 font-medium"
						>
							<span
								class="flex w-2.5 h-2.5 bg-neutral-300 rounded-full mr-1.5 flex-shrink-0"
							></span
							>Verifikasi Offline
						</span>
					</div>
				</div>

				<div class="ml-auto flex items-center gap-x-2 px-5 py-2">
					<AppButton variant="dark" type="button" @click="store.resetField">
						<span>Batalkan</span>
					</AppButton>
					<AppButton type="button" @click="register">
						<span>Daftarkan Pasien</span>
						<ArrowRightIcon class="h-5 w-5"></ArrowRightIcon>
					</AppButton>
				</div>
			</div>
		</div>

		<div class="flex w-full">
			<div class="max-w-3xl shrink-0">
				<div class="border-r">
					<div
						v-if="Object.entries(errors).length"
						class="px-5 py-4 bg-danger-50"
					>
						<div class="font-semibold text-danger-500 text-sm">
							Kesalahan ditemukan
						</div>
						<ul class="mt-2 text-sm list-disc list-inside leading-relaxed">
							<li v-for="error in errors" class="text-danger-500">
								{{ error.toString() }}
							</li>
						</ul>
					</div>

					<div class="py-4 px-5 bg-neutral-50">
						<div class="text-sm font-medium leading-6">Informasi Kunjungan</div>
					</div>

					<!-- Tanggal Kunjungan -->
					<div
						class="py-4 px-5 grid grid-cols-3 gap-4"
						:class="{ 'bg-danger-50': errors.tgl }"
					>
						<div class="text-sm font-medium leading-6 self-center">Tanggal</div>
						<div class="text-sm leading-6 col-span-2">
							<VueDatePicker
								v-model="formData.tgl"
								:enable-time-picker="false"
								auto-apply
								:format="formatDate"
								model-type="dd-MM-yyyy"
								position="left"
							>
								<template #dp-input="{ value }">
									<input type="text" :value="value" :class="['form-input']" />
								</template>
							</VueDatePicker>
							<p v-if="errors.tgl" class="mt-2 text-danger-500 text-sm">
								{{ errors.tgl.toString() }}
							</p>
						</div>
					</div>

					<!-- Jenis kunjungan -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Jenis Kunjungan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex items-center gap-x-5">
								<template v-for="vtype in store.visitType">
									<div class="flex items-center gap-x-2">
										<input
											v-model="formData.groupvisit"
											:value="vtype.id"
											type="radio"
											name="jenis-kunjungan"
											:id="'visit-type-' + vtype.id"
											class="h-4 w-4"
										/>
										<label :for="'visit-type-' + vtype.id" class="text-sm">{{
											vtype.value
										}}</label>
									</div>
								</template>
							</div>
						</div>
					</div>

					<!-- Lokasi Pemeriksaan -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Lokasi Pemeriksaan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<input
										v-model="facilityCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select class="form-input" v-model="formData.facility_id">
										<option value="">Pilih Lokasi</option>
										<template v-for="(facility, index) in store.facilities">
											<option :value="facility.id">{{ facility.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p v-if="errors.facility_id" class="mt-2 text-danger-500 text-sm">
								{{ errors.facility_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Unit Pelayanan -->
					<div
						class="py-4 px-5 grid grid-cols-3 gap-4"
						:class="{ 'bg-danger-50': errors.department_id }"
					>
						<div class="text-sm font-medium leading-6">Unit Pelayanan</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="grid grid-cols-3 gap-3">
								<template v-for="(department, index) in store.departments">
									<div class="flex items-center space-x-2">
										<input
											v-model="formData.department_id"
											:id="'department-option-' + department.id"
											type="checkbox"
											:value="department.id"
											class="input-checkbox"
										/>
										<label
											:for="'department-option-' + department.id"
											class="text-sm"
											>{{ department.unit_pelayanan }}</label
										>
									</div>
								</template>
							</div>
							<p
								v-if="errors.department_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ errors.department_id.toString() }}
							</p>
						</div>
					</div>
					<!-- Kunjungan sakit -->
					<div
						class="py-4 px-5 grid grid-cols-3 gap-4"
						:class="{ 'bg-danger-50': errors.bpjs_poli }"
					>
						<div class="text-sm font-medium leading-6 self-center">
							Kunjungan Sakit
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-40">
									<select v-model="formData.kunj_sakit" class="form-input">
										<option value="1">Kunjungan Sakit</option>
										<option value="0">Kunjungan Sehat</option>
									</select>
								</div>
								<div class="grow">
									<select v-model="formData.bpjs_poli" :class="['form-input']">
										<option value="">Pilih Kunjungan</option>
										<template
											v-for="kunjSakitPoli in store.bpjsPoly(
												formData.kunj_sakit
											)"
										>
											<option :value="kunjSakitPoli.kdPoli">
												{{ kunjSakitPoli.nmPoli }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p v-if="errors.bpjs_poli" class="mt-2 text-sm text-danger-500">
								{{ errors.bpjs_poli.toString() }}
							</p>
						</div>
					</div>

					<!-- Jenis Pasien -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Jenis Pasien
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<input
										v-model="patientTypeCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="formData.patienttype_id" class="form-input">
										<option value="">Pilih Jenis Pasien</option>
										<template
											v-for="(patienttype, index) in store.patienttypes"
										>
											<option :value="patienttype.id">
												{{ patienttype.value }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="errors.patienttype_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ errors.patienttype_id.toString() }}
							</p>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Kode Administrasi
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput v-model="formData.administrasi_pasien" />
						</div>
					</div>
				</div>

				<div class="border-r">
					<div class="py-4 px-5 bg-neutral-50">
						<div class="text-sm font-medium leading-6">Informasi Pasien</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. Index Pasien / RM
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-2">
								<div class="w-full">
									<AppInput v-model="formData.no_rm" />
									<p v-if="errors.no_rm" class="mt-2 text-sm text-danger-500">
										{{ errors.no_rm.toString() }}
									</p>
								</div>
								<div>
									<AppButton
										type="button"
										class="shrink-0"
										@click="toggleDialog"
										>Cari</AppButton
									>
								</div>
							</div>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">NIK</div>
						<div class="text-sm leading-6 col-span-2">
							<InputNik v-model="formData.nik"></InputNik>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. BPJS
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputBpjs v-model="formData.no_bpjs"></InputBpjs>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. kartu Sehat
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputKartuSehat v-model="formData.no_kartu"></InputKartuSehat>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Nama Kepala Keluarga
						</div>
						<div class="text-sm leading-6 col-span-2">
							<InputNamakk v-model="formData.nama_kk"></InputNamakk>
							<!-- <div class="flex gap-x-2">
								<div class="w-full">
									<AppInput v-model="formData.nama_kk" />
									<p v-if="errors.nama_kk" class="mt-2 text-sm text-danger-500">
										{{ errors.nama_kk.toString() }}
									</p>
								</div>
								<div class="shrink-0">
									<AppButton>Cari</AppButton>
								</div>
							</div> -->
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Nama Pasien
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-2">
								<div class="w-full">
									<AppInput v-model="formData.nama" />
									<p v-if="errors.nama" class="mt-2 text-sm text-danger-500">
										{{ errors.nama.toString() }}
									</p>
								</div>
								<div class="shrink-0">
									<AppButton>Cari</AppButton>
								</div>
							</div>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							No. Telepon
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput v-model="formData.no_hp" />
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Tempat Lahir
						</div>
						<div class="text-sm leading-6 col-span-2">
							<AppInput
								v-model="formData.tempat_lahir"
								type="text"
								placeholder="Tempat Lahir"
							/>
							<p
								v-if="errors.tempat_lahir"
								class="mt-2 text-sm text-danger-500"
							>
								{{ errors.tempat_lahir.toString() }}
							</p>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 mt-1">Tanggal Lahir</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="space-y-4">
								<div>
									<AppInput
										id="input-birthdate"
										v-model="birtdDate"
										type="text"
										placeholder="DD-MM-YYYY"
										maxlength="10"
									/>
									<p
										v-if="errors.tgl_lahir"
										class="mt-2 text-sm text-danger-500"
									>
										{{ errors.tgl_lahir.toString() }}
									</p>
									<p class="mt-2 text-sm text-neutral-400">
										Format: (dd-mm-yyyy) *tanda "-" otomatis ditambahkan. Tidak
										perlu ditulis.
									</p>
								</div>
							</div>
							<div class="grid grid-cols-3 gap-x-4 mt-5">
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Tahun</div>
										</div>
										<AppInput
											v-model="formData.umur"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Bulan</div>
										</div>
										<AppInput
											v-model="formData.bulanlahir"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
								<div class="space-y-2">
									<div class="relative w-full">
										<div
											class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
										>
											<div class="text-sm text-neutral-400">Hari</div>
										</div>
										<AppInput
											v-model="formData.harilahir"
											data-maska="###"
											maxlength="3"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Jenis kelamin -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Jenis Kelamin
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="genderCode"
										data-maska="#"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="formData.sex_id" class="form-input">
										<option value="">Pilih Jenis Kelamin</option>
										<template v-for="gender in store.sexes">
											<option :value="gender.id">{{ gender.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p v-if="errors.sex_id" class="mt-2 text-sm text-danger-500">
								{{ errors.sex_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Golongan darah -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Golongan Darah
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="bloodtypeCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="formData.bloodtype_id" class="form-input">
										<option value="">Pilih Golongan Darah</option>
										<template v-for="gender in store.bloodtypes">
											<option :value="gender.id">{{ gender.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="errors.bloodtype_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ errors.bloodtype_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Pendidikan -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Pendidikan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="educationCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="formData.education_id" class="form-input">
										<option value="">Pilih Pedidikan</option>
										<template v-for="education in store.educations">
											<option :value="education.id">
												{{ education.value }}
											</option>
										</template>
									</select>
								</div>
							</div>
							<p
								v-if="errors.education_id"
								class="mt-2 text-sm text-danger-500"
							>
								{{ errors.education_id.toString() }}
							</p>
						</div>
					</div>

					<!-- Pekerjaan -->
					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Pekerjaan
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<div class="w-16">
									<AppInput
										v-model="jobCode"
										data-maska="##"
										type="text"
										class="form-input"
										placeholder="Kode"
									/>
								</div>
								<div class="grow">
									<select v-model="formData.job_id" class="form-input">
										<option value="">Pilih Pekerjaan</option>
										<template v-for="job in store.jobs">
											<option :value="job.id">{{ job.value }}</option>
										</template>
									</select>
								</div>
							</div>
							<p v-if="errors.job_id" class="mt-2 text-sm text-danger-500">
								{{ errors.job_id.toString() }}
							</p>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6">Alamat</div>
						<div class="text-sm leading-6 col-span-2">
							<div>
								<div class="mb-4 font-medium">Alamat Sesuai KTP</div>
								<div class="grid grid-cols-2 gap-4">
									<div class="col-span-2">
										<AppInput v-model="formData.alamat" placeholder="Alamat" />
									</div>
									<div>
										<AppInput placeholder="RT" />
									</div>
									<div>
										<AppInput placeholder="RW" />
									</div>
									<div>
										<AppInputSelect
											v-model="originProvince"
											:options="store.provinces"
											optionValue="id"
											optionLabel="provinsi"
											emptyLabel="Pilih Provinsi"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originRegency"
											:options="store.regionRef.origin.regencies"
											optionValue="id"
											optionLabel="kabupaten"
											emptyLabel="Pilih Kabupaten"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originDistrict"
											:options="store.regionRef.origin.districts"
											optionValue="id"
											optionLabel="kecamatan"
											emptyLabel="Pilih Kecamatan"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originVillage"
											:options="store.regionRef.origin.villages"
											optionValue="id"
											optionLabel="desa"
											emptyLabel="Pilih Desa"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInputSelect
											v-model="originHamlet"
											:options="store.regionRef.origin.hamlets"
											optionValue="id"
											optionLabel="dusun"
											emptyLabel="Pilih Dusun"
										>
										</AppInputSelect>
									</div>
								</div>
							</div>

							<div class="mt-5">
								<div class="mb-4 font-medium">Alamat Domisili</div>
								<div class="grid grid-cols-2 gap-4">
									<div class="col-span-2">
										<div class="flex items-center space-x-2">
											<input
												v-model="originAsDomisili"
												id="domisili"
												type="checkbox"
												class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 rounded focus:ring-offset-0 focus:ring-primary-200 focus:ring-4 focus:border-primary-300"
											/>
											<label for="domisili"
												>Alamat domisili sama dengan KTP</label
											>
										</div>
									</div>
									<div class="col-span-2">
										<AppInput
											placeholder="Alamat"
											:disabled="originAsDomisili"
										/>
									</div>
									<div>
										<AppInput placeholder="RT" :disabled="originAsDomisili" />
									</div>
									<div>
										<AppInput placeholder="RW" :disabled="originAsDomisili" />
									</div>
									<div>
										<AppInputSelect
											v-model="domisiliAddress.province_id"
											:options="store.provinces"
											optionValue="kode"
											optionLabel="provinsi"
											emptyLabel="Pilih Provinsi"
											:disabled="originAsDomisili"
										>
										</AppInputSelect>
									</div>
									<div>
										<AppInput
											placeholder="Kabupaten"
											:disabled="originAsDomisili"
										/>
									</div>
									<div>
										<AppInput
											placeholder="Kecamatan"
											:disabled="originAsDomisili"
										/>
									</div>
									<div>
										<AppInput placeholder="Desa" :disabled="originAsDomisili" />
									</div>
									<div>
										<AppInput
											placeholder="Dusun"
											:disabled="originAsDomisili"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 self-center">
							Asal Sekolah
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="flex gap-x-4">
								<AppInput />
							</div>
						</div>
					</div>

					<div class="py-4 px-5 grid grid-cols-3 gap-4">
						<div class="text-sm font-medium leading-6 mt-1">
							Penyandang Disabilitas
						</div>
						<div class="text-sm leading-6 col-span-2">
							<div class="space-y-2">
								<select class="form-input">
									<option value="">Pilih Kecacatan</option>
									<template v-for="(cacat, index) in store.kecacatan">
										<option :value="index">{{ cacat }}</option>
									</template>
								</select>
								<p class="text-xs text-neutral-400">
									Pilih jika pasien disabilitas
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-neutral-50 text-sm p-10 w-full whitespace-pre leading-6">
				<div>
					<div>form input</div>
					{{ formData }}
				</div>
				<div>
					<div>origin address</div>
					{{ originAddress }}
				</div>
				<div>
					<div>domisili address</div>
					{{ domisiliAddress }}
				</div>
				<div v-if="errors" class="text-danger-500">
					{{ errors }}
				</div>
			</div>
		</div>
	</div>

	<SearchDialog
		:show="dialog"
		@close="closeDialog"
		title="Pencarian data pasien"
	>
		<div class="px-5 py-4 border-b space-y-4">
			<!-- <div class="flex items-center gap-x-4">
      <div class="w-56 shrink-0">
        <AppInputSelect 
          :options="searchType" 
          optionValue="value" 
          optionLabel="label"
          emptyLabel="Pilih Jenis Pencarian"
          emptyDisabled
        >
        </AppInputSelect>
      </div>
      <div class="grow">
        <AppInput type="text" placeholder="Keyword" />
      </div>
      <div>
        <AppButton>Cari</AppButton>
      </div>
    </div> -->
			<div class="text-sm font-medium">
				4 <span class="text-neutral-500">Pasien Ditemukan</span>
			</div>
		</div>

		<div class="max-h-[400px] overflow-y-auto">
			<AppTable>
				<template v-slot:head>
					<AppTableRow>
						<AppTableHeading class="w-auto">Nama Pasien</AppTableHeading>
						<AppTableHeading class="w-28">No.RM</AppTableHeading>
						<AppTableHeading class="w-36">Tanggal Lahir</AppTableHeading>
						<AppTableHeading>Alamat</AppTableHeading>
					</AppTableRow>
				</template>
				<template v-slot:body>
					<AppTableRow class="cursor-pointer">
						<AppTableCell>
							<div class="font-medium">John Walker Hidayat Sugiono</div>
							<div class="text-neutral-500">Kepala keluarga John</div>
						</AppTableCell>
						<AppTableCell>0000000100</AppTableCell>
						<AppTableCell>10-10-2023</AppTableCell>
						<AppTableCell>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
							ullamcorper magna magna, eget egestas orci ultricies id
						</AppTableCell>
					</AppTableRow>
					<AppTableRow class="cursor-pointer">
						<AppTableCell>
							<div class="font-medium">John Walker Hidayat Sugiono</div>
							<div class="text-neutral-500">Kepala keluarga John</div>
						</AppTableCell>
						<AppTableCell>0000000100</AppTableCell>
						<AppTableCell>10-10-2023</AppTableCell>
						<AppTableCell>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
							ullamcorper magna magna, eget egestas orci ultricies id
						</AppTableCell>
					</AppTableRow>
					<AppTableRow class="cursor-pointer">
						<AppTableCell>
							<div class="font-medium">John Walker Hidayat Sugiono</div>
							<div class="text-neutral-500">Kepala keluarga John</div>
						</AppTableCell>
						<AppTableCell>0000000100</AppTableCell>
						<AppTableCell>10-10-2023</AppTableCell>
						<AppTableCell>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
							ullamcorper magna magna, eget egestas orci ultricies id
						</AppTableCell>
					</AppTableRow>
					<AppTableRow class="cursor-pointer">
						<AppTableCell>
							<div class="font-medium">John Walker Hidayat Sugiono</div>
							<div class="text-neutral-500">Kepala keluarga John</div>
						</AppTableCell>
						<AppTableCell>0000000100</AppTableCell>
						<AppTableCell>10-10-2023</AppTableCell>
						<AppTableCell>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
							ullamcorper magna magna, eget egestas orci ultricies id
						</AppTableCell>
					</AppTableRow>
				</template>
			</AppTable>
		</div>

		<div class="bg-neutral-100 px-5 py-4">
			<div class="flex items-center">
				<!-- <button class="text-neutral-400 font-medium hover:text-neutral-500">Keluar</button> -->
				<div class="ml-auto flex item-center space-x-2">
					<AppButton variant="dark">Gunakan untuk pendaftaran baru</AppButton>
					<AppButton variant="primary">Pilih</AppButton>
				</div>
			</div>
		</div>
	</SearchDialog>
</template>

<script>
import SearchDialog from "./SearchDialog.vue";
import InputNik from "./InputNik.vue";
import InputBpjs from "./InputBpjs.vue";
import InputKartuSehat from "./InputKartuSehat.vue";
import InputNamakk from "./InputNamakk.vue";
import { useRegistrationStore, useAuthStore, useCalculateAge } from "@/stores";
import { useNow, useDateFormat } from "@vueuse/core";
import { ArrowRightIcon } from "@heroicons/vue/24/solid";
import { MaskInput } from "maska";
import {
	AppInput,
	AppInputLabel,
	AppInputSelect,
	AppButton,
	AppTable,
	AppTableCell,
	AppTableHeading,
	AppTableRow,
} from "@/components/base";

export default {
	components: {
		AppInput,
		AppInputLabel,
		AppInputSelect,
		AppButton,
		ArrowRightIcon,
		AppTable,
		AppTableCell,
		AppTableHeading,
		AppTableRow,
		SearchDialog,
		InputNik,
		InputBpjs,
		InputKartuSehat,
		InputNamakk,
	},

	setup() {
		const store = useRegistrationStore();
		const auth = useAuthStore();
		const calucalteAge = useCalculateAge();
		store.fetchDataReference();

		return { store, auth, calucalteAge };
	},
	data() {
		return {
			dialog: false,
			// formData: {
			// 	tgl: useDateFormat(useNow(), "DD-MM-YYYY", { locales: "id-ID" }).value,
			// 	entry_id: null,
			// 	facility_id: "",
			// 	type_kunj: 1,
			// 	department_id: [1],
			// 	kunj_sakit: 1,
			// 	patienttype_id: "",
			// 	no_rm: "",
			// 	nik: "",
			// 	no_kartu: "",
			// 	no_bpjs: "",
			// 	nama_kk: "",
			// 	nama: "",
			// 	no_hp: "",
			// 	tempat_lahir: "",
			// 	tgl_lahir: "",
			// 	umur: "",
			// 	bulanlahir: "",
			// 	harilahir: "",
			// 	groupvisit: 1,
			// 	sex_id: "",
			// 	bloodtype_id: "",
			// 	job_id: "",
			// 	no_bpjs: "",
			// 	alamat: "",
			// 	administrasi_pasien: "0101",
			// 	education_id: "",
			// 	village_id: "",
			// 	hamlet_id: "",
			// 	bpjs_poli: "",
			// 	ppk_cocok: true,
			// 	status_bpjs: "OK",
			// 	provider: "OK",
			// },
			// errors: [],
			originAddress: {
				alamat: "",
				rt: "",
				rw: "",
				province_id: "",
				regency_id: "",
				district_id: "",
				village_id: "",
				hamlet_id: "",
			},
			domisiliAddress: {
				alamat: "",
				rt: "",
				rw: "",
				province_id: "",
				regency_id: "",
				district_id: "",
				village_id: "",
				hamlet_id: "",
			},
			originAsDomisili: false,
			searchType: [
				{ value: "norm", label: "No Index Pasien" },
				{ value: "nik", label: "NIK" },
				{ value: "bpjs", label: "No. BPJS" },
				{ value: "namakk", label: "Nama Kepala Keluarga" },
				{ value: "nama", label: "Nama Pasien" },
			],
		};
	},
	watch: {
		// "formData.alamat"(val) {
		// 	this.originAddress.alamat = val;
		// },
		// "auth.getUserId": {
		// 	handler(newVal) {
		// 		this.formData.entry_id = newVal;
		// 	},
		// 	immediate: true,
		// },
	},
	computed: {
		facilityCode: {
			get() {
				const facilityId = this.formData.facility_id;
				let code = null;
				if (facilityId) {
					code = this.store.facilities.find(
						(item) => item.id == facilityId
					).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length == 2) {
					const data = this.store.facilities.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.formData.facility_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.facility_id = "";
				}
			},
		},

		patientTypeCode: {
			get() {
				const typeId = this.formData.patienttype_id;
				let code = null;
				if (typeId) {
					code = this.store.patienttypes.find((item) => item.id == typeId).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length == 2) {
					const data = this.store.patienttypes.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.formData.patienttype_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.patienttype_id = "";
				}
			},
		},

		genderCode: {
			get() {
				const dataId = this.formData.sex_id;
				let code = null;
				if (dataId) {
					code = this.store.sexes.find((item) => item.id == dataId).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.sexes.find((item) => item.kode == newValue);
					if (data !== undefined) {
						this.formData.sex_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.sex_id = "";
				}
			},
		},

		bloodtypeCode: {
			get() {
				const dataId = this.formData.bloodtype_id;
				let code = null;
				if (dataId) {
					code = this.store.bloodtypes.find((item) => item.id == dataId).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.bloodtypes.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.formData.bloodtype_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.bloodtype_id = "";
				}
			},
		},

		educationCode: {
			get() {
				const dataId = this.formData.education_id;
				let code = null;
				if (dataId) {
					code = this.store.educations.find((item) => item.id == dataId).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.educations.find(
						(item) => item.kode == newValue
					);
					if (data !== undefined) {
						this.formData.education_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.education_id = "";
				}
			},
		},

		jobCode: {
			get() {
				const dataId = this.formData.job_id;
				let code = null;
				if (dataId) {
					code = this.store.jobs.find((item) => item.id == dataId).kode;
				}
				return code;
			},
			set(newValue) {
				if (newValue.length > 0) {
					const data = this.store.jobs.find((item) => item.kode == newValue);
					if (data !== undefined) {
						this.formData.job_id = data.id;
					}
				} else if (newValue.length == 0) {
					this.formData.job_id = "";
				}
			},
		},

		birtdDate: {
			get() {
				return this.formData.tgl_lahir;
			},
			set(newValue) {
				const valDate = this.calucalteAge.originDateValue(newValue);
				const isValid = this.calucalteAge.isDateValid(valDate);
				this.formData.tgl_lahir = newValue;
				let age = this.calucalteAge.getAge(newValue);
				if (isValid && age?.year >= 0) {
					this.formData.umur = age?.year;
					this.formData.bulanlahir = age?.month;
					this.formData.harilahir = age?.day;
				} else {
					this.formData.umur = "";
					this.formData.bulanlahir = "";
					this.formData.harilahir = "";
				}
			},
		},

		originProvince: {
			get() {
				return this.originAddress.province_id;
			},
			set(newValue) {
				this.originAddress.province_id = newValue;
				if (newValue) {
					this.store.fetchRegencies(newValue).then((response) => {
						this.store.regionRef.origin.regencies = response.data.data;
						this.originAddress.regency_id = "";
						this.originAddress.district_id = "";
						this.originAddress.village_id = "";
						this.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.regencies = [];
					this.store.regionRef.origin.districts = [];
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.originAddress.regency_id = "";
					this.originAddress.district_id = "";
					this.originAddress.village_id = "";
					this.originAddress.hamlet_id = "";
				}
			},
		},
		originRegency: {
			get() {
				return this.originAddress.regency_id;
			},
			set(newValue) {
				this.originAddress.regency_id = newValue;
				if (newValue) {
					this.store.fetchDistricts(newValue).then((response) => {
						this.store.regionRef.origin.districts = response.data.data;
						this.originAddress.district_id = "";
						this.originAddress.village_id = "";
						this.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.districts = [];
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.originAddress.district_id = "";
					this.originAddress.village_id = "";
					this.originAddress.hamlet_id = "";
				}
			},
		},
		originDistrict: {
			get() {
				return this.originAddress.district_id;
			},
			set(newValue) {
				this.originAddress.district_id = newValue;
				if (newValue) {
					this.store.fetchVillages(newValue).then((response) => {
						this.store.regionRef.origin.villages = response.data.data;
						this.originAddress.village_id = "";
						this.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.villages = [];
					this.store.regionRef.origin.hamlets = [];
					this.originAddress.village_id = "";
					this.originAddress.hamlet_id = "";
				}
			},
		},
		originVillage: {
			get() {
				return this.originAddress.village_id;
			},
			set(newValue) {
				this.originAddress.village_id = newValue;
				if (newValue) {
					this.store.fetchHamlets(newValue).then((response) => {
						this.store.regionRef.origin.hamlets = response.data.data;
						this.originAddress.hamlet_id = "";
					});
				} else if (newValue.length == 0) {
					this.store.regionRef.origin.hamlets = [];
					this.originAddress.hamlet_id = "";
				}
				this.formData.village_id = newValue;
			},
		},
		originHamlet: {
			get() {
				return this.originAddress.hamlet_id;
			},
			set(newValue) {
				this.originAddress.hamlet_id = newValue;
				this.formData.hamlet_id = newValue;
			},
		},
	},

	created() {
		this.store.bpjsPoly(false);
	},

	mounted() {
		new MaskInput("[data-maska]");
		new MaskInput(document.getElementById("input-birthdate"), {
			mask: "##-##-####",
		});
	},

	methods: {
		toggleDialog() {
			this.dialog = !this.dialog;
		},
		closeDialog() {
			this.dialog = false;
		},
		formatDate(date) {
			return useDateFormat(date, "DD-MM-YYYY", { locales: "id-ID" }).value;
		},

		register() {
			let departments = this.formData.department_id;
			const requestData = departments.map((item) => {
				return {
					...this.formData,
					department_id: item,
				};
			});
			requestData.forEach((attribute) => {
				this.store
					.registrationStore(attribute)
					.then((response) => {
						console.log(response);
						this.resetField();
					})
					.catch((error) => {
						if (error.response) {
							const errorData = error.response.data;
							if (error.response.status == 422) {
								this.errors = errorData.errors;
								window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
							}
						}
					});
			});
		},

		// resetField() {
		// 	this.errors = [];
		// 	this.formData = {
		// 		tgl: useDateFormat(useNow(), "DD-MM-YYYY", { locales: "id-ID" }).value,
		// 		facility_id: "",
		// 		type_kunj: 1,
		// 		department_id: [1],
		// 		kunj_sakit: 1,
		// 		patienttype_id: "",
		// 		no_rm: "",
		// 		nik: "",
		// 		no_kartu: "",
		// 		no_bpjs: "",
		// 		nama_kk: "",
		// 		nama: "",
		// 		no_hp: "",
		// 		tempat_lahir: "",
		// 		tgl_lahir: "",
		// 		umur: "",
		// 		bulanlahir: "",
		// 		harilahir: "",
		// 		groupvisit: 1,
		// 		sex_id: "",
		// 		bloodtype_id: "",
		// 		job_id: "",
		// 		no_bpjs: "",
		// 		alamat: "",
		// 		administrasi_pasien: "0101",
		// 		education_id: "",
		// 		village_id: "",
		// 		hamlet_id: "",
		// 		bpjs_poli: "",
		// 		ppk_cocok: true,
		// 		status_bpjs: "OK",
		// 		provider: "OK",
		// 	};

		// 	this.originAddress = {
		// 		alamat: "",
		// 		rt: "",
		// 		rw: "",
		// 		province_id: "",
		// 		regency_id: "",
		// 		district_id: "",
		// 		village_id: "",
		// 		hamlet_id: "",
		// 	};

		// 	this.domisiliAddress = {
		// 		alamat: "",
		// 		rt: "",
		// 		rw: "",
		// 		province_id: "",
		// 		regency_id: "",
		// 		district_id: "",
		// 		village_id: "",
		// 		hamlet_id: "",
		// 	};

		// 	this.store.regionRef = {
		// 		origin: {
		// 			regencies: [],
		// 			district: [],
		// 			villages: [],
		// 			hamlets: [],
		// 		},
		// 		domisili: {
		// 			regencies: [],
		// 			district: [],
		// 			villages: [],
		// 			hamlets: [],
		// 		},
		// 	};
		// },
	},
};
</script>
