<script setup>
import { onMounted, watch, ref, computed } from "vue";
import { useEventListener, onClickOutside } from "@vueuse/core";

const emits = defineEmits(["update:show", "close"]);
const props = defineProps({
	show: {
		type: Boolean,
		required: true,
	},
	title: {
		type: String,
		default: "",
	},
});

const itemIndex = ref(0);
const isLoading = ref(false);
const dialogPanel = ref(null);
const isShowDialog = computed({
	get() {
		return props.show;
	},
	set(newVal) {
		emits("update:show", newVal);
	},
});
const result = ref([
	{
		id: 1,
		nama: "John Walker Hidayat Sugiono",
		nama_kk: "Kepala keluarga John",
		no_rm: "0000000100",
		nik: "0000000100",
		tgl_lahir: "10-10-1998",
		alamat:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper magna magna, eget egestas orci ultricies id",
	},
	{
		id: 2,
		nama: "John Walker Hidayat Sugiono",
		nama_kk: "Kepala keluarga John",
		no_rm: "0000000100",
		nik: "0000000100",
		tgl_lahir: "10-10-1998",
		alamat:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper magna magna, eget egestas orci ultricies id",
	},
	{
		id: 3,
		nama: "John Walker Hidayat Sugiono",
		nama_kk: "Kepala keluarga John",
		no_rm: "0000000100",
		nik: "0000000100",
		tgl_lahir: "10-10-1998",
		alamat:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper magna magna, eget egestas orci ultricies id",
	},
]);

watch(
	() => isShowDialog.value,
	(val) => {
		const body = document.querySelector("body");
		if (val) {
			body.classList.add("overflow-hidden");
		} else {
			if (body.classList.contains("overflow-hidden")) {
				body.classList.remove("overflow-hidden");
			}
		}
	},
	{ immediate: true, deep: true }
);

const closeDialog = () => {
	emits("close");
};

async function fetchData() {
	isLoading.value = true;
	await http
		.get("/patients", { params: { bpjs: props.modelValue } })
		.then((response) => {
			const data = response.data.data;
			if (data) {
				result.value = data;
			}
		});
	isLoading.value = false;
}

useEventListener(document, "keydown", (e) => {
	if (e.key == "Escape") closeDialog();
});

onMounted(() => {
	onClickOutside(dialogPanel, () => closeDialog());
});
</script>

<template>
	<div v-if="isShowDialog" class="relative z-50">
		<div
			class="fixed inset-0 bg-neutral-800 bg-opacity-70 transition-opacity"
		></div>
		<div class="fixed inset-0 z-50 overflow-y-auto overflow-x-hidden">
			<div
				class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
			>
				<div
					ref="dialogPanel"
					class="relative transform overflow-hidden rounded-md text-left w-full max-w-4xl bg-white my-8 transition-all shadow-xl"
				>
					<div>
						<div
							class="flex items-center justify-between px-5 py-3 border-b rounded-t dark:border-gray-600"
						>
							<h3 class="font-medium text-neutral-800 dark:text-white">
								{{ title }}
							</h3>
							<button
								@click="closeDialog"
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
							>
								<svg
									class="w-3 h-3"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 14 14"
								>
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
									/>
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<slot />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
