<template>
  <div class="max-w-7xl mx-auto p-5 space-y-4">    
    <div class="grid grid-cols-4 gap-4">
      <div class="h-36 bg-gray-50 rounded-md "></div>
      <div class="h-36 bg-gray-50 rounded-md"></div>
      <div class="h-36 bg-gray-50 rounded-md"></div>
      <div class="h-36 bg-gray-50 rounded-md"></div>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-3">
        <div class="h-96 bg-gray-50 rounded-md"></div>
      </div>
      <div class="space-y-4">
        <div class="h-56 bg-gray-50 rounded-md"></div>
        <div class="h-36 bg-gray-50 rounded-md"></div>
      </div>
    </div>
    
    <div class="h-96 bg-gray-50 rounded-md"></div>
    
    <div class="h-96 bg-gray-50 rounded-md"></div>
  </div>
</template>

<script setup>
import { AppLink, AppLinkButton } from '@/components/base'
</script>