<!-- 
  variant: primary, danger, success, warning, dark, light, link  
 -->
 
<template>
  <button
    v-bind="$attrs"
    :class="['btn', getVariant]"
  >
    <slot />
  </button>
</template>
<script>
export default {
  props: {
    variant: {
      type: String,
      default: 'primary'
    },
  },
  computed: {
    getVariant () {
      return "btn-" + this.variant;
    }
  }
}
</script>