<template>
  <router-link
    v-bind="$attrs"
    class="
      inline-flex
      items-center
      justify-center
      gap-x-2
      text-white
      text-sm font-medium
      bg-primary-600
      px-4
      py-2
      rounded-md
      hover:bg-primary-700
      transition
      focus:outline-none
      focus:ring-4 
      focus:ring-primary-300
      shadow-sm
    " 
  >
    <slot />
  </router-link>
</template>

<script>
import { RouterLink } from 'vue-router'
export default {
  components: { RouterLink }
}
</script>