<template>
  <div class="relative">
    <div v-if="hasSlotAction">
      <slot name="action" />
    </div>
    <div v-if="hasSlotItem" class="absolute flex flex-col bg-white shadow-lg border w-56 rounded-md py-2">
      <slot name="item" />
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  setup () {

  },
  computed: {
    hasSlotAction () {
      return !!this.$slots.action
    },
    hasSlotItem () {
      return !!this.$slots.item
    }
  },
  methods: {

  }
}
</script>