<template>
  <input
    v-bind="$attrs"
    @input="$emit('update:modelValue', $event.target.value)" 
    :value="modelValue"
    :type="type" 
    :placeholder="placeholder"
    :id="id"
    :class="[error ? 'form-input-invalid' : 'form-input' ]"
  />
  <p v-if="error" class="text-sm text-danger-500">
    {{ Array.isArray(error) ? error.toString() : error  }}
  </p>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: String,
    id: {
      type: String,
      default: ''
    },
    error: {
      type: [Array, String],
      default: ''
    }
  },
  data () {
    return {}
  },  
  computed: {}
}
</script>