<template>
  <label v-bind="$attrs" class="form-label" :value="value">
    {{ value }}
  </label>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
  }
}
</script>