<template>
  <select
    v-bind="$attrs"
    @change="$emit('update:modelValue', $event.target.value)" 
    :class="[error ? 'form-input-invalid' : 'form-input' ]"
  >
    <template v-if="emptyLabel.length">
      <option :value="emptyValue" :disabled="emptyDisabled">{{ emptyLabel }}</option>
    </template>
    <template v-for="option in options" :key="option[optionValue]">
      <option :value="option[optionValue]" :disabled="option.disabled" :selected="modelValue == option[optionValue]">
        {{ option[optionLabel] }}
      </option>
    </template>
  </select>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: [String, Number],
      default: ''
    },
    options: {
      type: Array,
      default: []
    },
    optionValue: {
      type: String,
      required: true
    },
    optionLabel: {
      type: String,
      required: true
    },
    emptyLabel: {
      type: String,
      default: ''
    },
    emptyValue: {
      type: String,
      default: ''
    },
    emptyDisabled: {
      type: Boolean,
      default: false
    },
    error: {
      type: [Array, String],
      default: ''
    }
  },
  data () {
    return {}
  },  
  computed: {}
}
</script>