<template>
  <input
    v-bind="$attrs"
    @change="$emit('update:modelValue', $event.target.checked)"
    :checked="modelValue"
    type="checkbox"
    class="input-checkbox"
  />
</template>

<script>
export default {
  props: {
    modelValue: {
      type: Boolean,
      default: false
    },
  },
}
</script>