<template>
  <div class="relative w-full">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <MagnifyingGlassIcon class="h-5 w-5 text-neutral-400"></MagnifyingGlassIcon>    
    </div>
    <input
      v-bind="$attrs"
      @input="$emit('update:modelValue', $event.target.value)" 
      :value="modelValue"  
      class="form-input pl-10"
    >    
  </div>
</template>

<script>
import { MagnifyingGlassIcon } from '@heroicons/vue/24/solid'

export default {
  components: { MagnifyingGlassIcon },
  props: {
    modelValue: {
      type: [String, Number],
      default: ''
    },
  },
}
</script>