<!-- 
  variant: primary, danger, success, warning, dark, light, link  
 -->
 
 <template>
  <router-link
    v-bind="$attrs"
    :class="['btn', getVariant]" 
  >
    <slot />
  </router-link>
</template>

<script>
import { RouterLink } from 'vue-router'
export default {
  components: { RouterLink },
  props: {
    variant: {
      type: String,
      default: 'primary'
    },
  },
  computed: {
    getVariant () {
      return "btn-" + this.variant;
    }
  }
}
</script>