<template>
  <router-link v-bind="$attrs" class="link">
    <slot />
  </router-link>
</template>

<script>
import { RouterLink } from 'vue-router'
export default {
  props: {},
  components: { RouterLink }
}
</script>