<template>
  <router-link v-bind="$attrs" 
    class="inline-flex items-center gap-x-2 text-sm font-medium text-neutral-400 hover:text-neutral-500"
  >
      <ArrowSmallLeftIcon class="h-5 w-5"></ArrowSmallLeftIcon>
      <span>{{ value }}</span>
  </router-link>
</template>

<script>
import { ArrowSmallLeftIcon } from '@heroicons/vue/24/solid'
export default {
  props: {
    value: {
      type: String,
      default: 'Kembali'
    },
  },
  components: { ArrowSmallLeftIcon }
}
</script>