<template>
  <div v-bind="$attrs" class="flex items-center justify-between gap-2 border-b py-5">
  
    <div>
      <div v-if="hasPageTitleSlot" class="text-lg font-bold tracking-normal">
        <slot name="title" />
      </div>
      <div v-if="hasPageSubTitleSlot" class="text-gray-400">
        <slot name="subtitle" />
      </div>
    </div>

    <div v-if="hasPageActionSlot">
      <slot name="action" />
    </div>

  </div>
</template>

<script>
export default {
  computed: {
    hasPageTitleSlot () {
      return !!this.$slots.title
    },
    hasPageSubTitleSlot () {
      return !!this.$slots.subtitle
    },
    hasPageActionSlot () {
      return !!this.$slots.action
    },
  }
}
</script>