<template>
  <div v-bind="$attrs" class="relative">
    
    <div v-if="hasPageHeaderSlot" class="pt-5">
      <slot name="header" />
    </div>
    
    <div v-if="hasPageTitleSlot" class="flex justify-between items-center border-b py-5 gap-2 px-5">
      <template v-if="hasPageTitleSlot">
        <div>
          <div class="text-lg font-bold tracking-normal">
            <slot name="title" />
          </div>
          <div v-if="hasPageSubTitleSlot" class="text-gray-400 mt-1">
            <slot name="subtitle" />
          </div>
        </div>
      </template>

      <div v-if="hasPageActionSlot" class="shrink-0">
        <slot name="action" />
      </div>
    </div>
    
    <div v-if="hasPageContentSlot" class="py-5">
      <slot name="content" />
    </div>

    <slot />
  </div>
</template>

<script>
export default {
  computed: {
    hasPageTitleSlot () {
      return !!this.$slots.title
    },
    hasPageSubTitleSlot () {
      return !!this.$slots.subtitle
    },
    hasPageActionSlot () {
      return !!this.$slots.action
    },
    hasPageContentSlot () {
      return !!this.$slots.content
    },
    hasPageHeaderSlot () {
      return !!this.$slots.header
    }
  }
}
</script>