<template>
<div class="relative">
  <div
    class="flex border rounded-md shadow-sm ring-1 ring-transparent"
    :class="[error ? 'bg-red-50 border-red-300 focus-within:border-red-500 focus-within:ring-transparent' : 'bg-gray-50 border-gray-300 focus-within:border-primary-600 focus-within:ring-primary-600']"
  >
  <div
    v-bind="$attrs"
    @enter="SubmitEvent"
    ref="selectbox"
    @click="toggleList" 
    @keypress.space="toggleList"
    @keydown.down.prevent="goToList" 
    tabindex="0" 
    class="w-full text-sm p-2 bg-transparent rounded-l-md border-transparent outline-none focus:ring-0 focus:border-transparent"
    >
      <span v-if="selectedItem.text">{{ selectedItem.text }}</span>
      <span v-else v-if="placeholder" :class="[error ? 'text-red-300' :'text-gray-400']">{{ placeholder }}</span>  
  </div>
  <button v-if="clearButton" type="button" tabindex="-1" class="bg-transparent" @click="clearSelected">
    <XMarkIcon class="w-4 h-4 text-gray-700 "></XMarkIcon>
  </button>
  <button type="button" tabindex="-1" class="rounded-r-md px-2.5">
    <ChevronUpDownIcon class="w-5 h-5" :class="[error ? 'text-red-700': 'text-gray-700']"></ChevronUpDownIcon>
  </button>
  </div>
  <p v-if="error" class="mt-2 text-sm text-red-500">
    {{ Array.isArray(error) ? error.toString() : error  }}
  </p>
  <div tabindex="-1" v-if="showlist" class="absolute w-full z-10 top-10 mt-1.5 bg-white ring-1 ring-gray-100 shadow-lg rounded-md py-1.5 max-h-60 overflow-y-auto">
    <ul ref="list" class="text-sm">
      <li
        v-for="(item, index) in items"
        :key="index" 
        tabindex="0" 
        class="py-2 px-2.5 cursor-pointer hover:bg-primary-50 focus:bg-primary-50 focus:outline-none"
        @click="selectItem(item)"
        @keypress.enter.prevent="selectItem(item)"
        @keypress.space.prevent="selectItem(item)"
        @keydown.down.prevent="selectNext(index)"         
        @keydown.up.prevent="selectPrev(index)"
        :class="{'bg-primary-100':item.value === selectedItem.value }"
      >
        {{ item.text }}
      </li>
    </ul>
  </div>
</div>
</template>

<script>
import { ref, onMounted, nextTick, computed, watch } from 'vue'
import { onKeyStroke, onClickOutside } from '@vueuse/core'
import { ChevronUpDownIcon, XMarkIcon } from '@heroicons/vue/24/solid'
export default {
  components: { ChevronUpDownIcon, XMarkIcon },
  props: {
    modelValue: { type: [Number, String], default: null },
    placeholder: { type: [String, Number], default: '' },
    items: { type: [Array], default: [] },
    error: { type: [Array, String], default: '' },
  },
  setup (props, { emit }) {
    const showlist = ref(false)
    const selectbox = ref(null)
    const list = ref(null)
    const selectedItem = ref({})
    const clearButton = ref(false)
    const toggleList = () => { showlist.value = !showlist.value }
    const closeList = () => { showlist.value = false }
    const openList = () => { showlist.value = true }
    const selectItem = (item) => {
      selectedItem.value = item
      emit('update:modelValue', item.value)
      closeList()
      selectbox.value.focus()
    }

    onClickOutside(selectbox, () => {closeList() })

    onKeyStroke('Escape', () => { 
      if (showlist.value) {
        closeList()
        selectbox.value.focus()
      }
    })
    
    const selectPrev = (index) => {      
      if (index === 0) {
        selectbox.value.focus()
        return
      }
      list.value.children[index -1].focus()
    }

    const selectNext = (index) => {
      if (index === props.items.length - 1) return
      list.value.children[index + 1].focus()
    }

    const goToList = () => {
      if (showlist.value) {
        list.value.children[0].focus()
      }
    }

    const modelvalue = computed({
      get: () => props.modelValue,
      set: (value) => emit('update:modelValue', value)
    })

    const clearSelected = () => {
      modelvalue.value = null
      selectedItem.value = {}
    } 

    onMounted(() => {
      if (![0, null, undefined].includes(props.modelValue)) {
        nextTick(() =>  {
          const data = props.items.length ? props.items.find(val => val.value === parseInt(modelvalue.value)) : {}
          if (data) {
            selectedItem.value = { value: data.value, text: data.text }
          }
        })
      }
    })

    return {
      list,
      selectbox,
      showlist,
      selectedItem,
      modelvalue,
      clearButton,
      toggleList,
      openList,
      closeList,
      selectItem,
      selectNext,
      selectPrev,
      goToList,
      clearSelected,
    }
  },
  watch: {
    'selectedItem.value': function (val) {
      if (val) {
        this.clearButton = true
      } else {
        this.clearButton = false
      }
    }
  }
}
</script>
