<template>
  <div class="relative">
    <input type="text"
      v-bind="$attrs"
      class="w-full text-sm p-2 border border-gray-300 bg-gray-50 shadow-sm rounded-md focus:outline-none"
      @click="showOption = !showOption"
      :value="selectedText"
    >

    <div v-if="showOption" class="absolute w-full mt-2 text-sm bg-white rounded-md py-2 shadow-lg border border-gray-100">
      <ul>
        <li v-for="(option, index) in options" :key="index" 
          @click="$emit('update:modelValue', option.value); showOption=false; selectedText=option.text;" class="py-2 px-4 hover:bg-primary-50 cursor-pointer">
          {{ option.text }}
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Select Option'
    },
    modelValue: {
      type: [String, Number],
      default: ''
    },
    options:{
      type: [Array, Object],
      required: true
    },
    value: {
      type: [String, Number],
      default: ''
    }
  },
  data() {
    return {
      ppterm: null,
      showOption: false,
      selectedOption: this.options ? this.options[0].value : null,
      selectedText: this.options ? this.options[0].text : null
    }
  },

  watch: {},
  mounted(){
    this.$emit('update:modelValue', this.selectedOption)
  },
  methods: {
    filterOptions() {
      // this.filteredOptions = this.options.filter(option => option.toLowerCase().includes(this.searchTerm.toLowerCase()))
    },
    selectOption(value) {
      this.selectedOption = value
      this.$emit('update:modelValue', value)
      this.showOption = false
    },
    handleInput(e) {
      this.$emit('input', this.selectedOption)
    }
  }

}

</script>

