<template>
	<table
		v-bind="$attrs"
		class="table-fixed w-full text-sm text-left text-neutral-500"
	>
		<caption
			v-if="hasCaptionSlot"
			class="p-5 text-lg font-semibold text-left text-gray-900 bg-white"
		>
			<slot name="caption" />
		</caption>

		<thead class="text-xs uppercase bg-gray-50 text-neutral-800">
			<slot name="head" />
		</thead>

		<tbody class="divide-y divide-gray-200 bg-white">
			<slot name="body" />
		</tbody>
	</table>
</template>

<script>
export default {
	computed: {
		hasCaptionSlot() {
			return !!this.$slots.caption;
		},
	},
};
</script>
