<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'patienttype' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Buat Jenis Pasien Baru</template>
  </AppPageTitle>
  <div class="py-5">
    <form @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="jenis_pasien" value="Nama" />
          <AppInput 
            v-model="formInput.jenis_pasien" 
            id="jenis_pasien" 
            placeholder="Nama" 
            :error="errors.jenis_pasien"
            :disabled="isDisabled" />
        </div>
      
        <div class="w-full space-y-2">
          <AppInputLabel for="singkatan" value="Jenis" />
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.bayar" id="bayar" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="bayar" value="Bayar" class="ml-2" />
          </div>
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.gakin" id="gakin" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="gakin" value="Gakin" class="ml-2" />
          </div>
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.bpjs" id="bpjs" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="bpjs" value="BPJS" class="ml-2" />
          </div>
        </div>
        <div class="w-full space-y-2">
          <AppInputLabel for="singkatan" value="Status" />
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.aktif" id="aktif" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="aktif" value="Aktif" class="ml-2" />
          </div>
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { usePatienttypeStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = usePatienttypeStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    formInput: {
      kode: null,
      jenis_pasien: null,
      bayar: false,
      gakin: false,
      bpjs: false,
      aktif: true
    },
    errors: [],
  }
},
created () {
  this.clearField()
},
methods: {
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.create(this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
        
        if (response.status === 201) {
          this.clearField()
          this.$router.push({ name: 'patienttype' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: null,
      jenis_pasien: null,
      bayar: false,
      gakin: false,
      bpjs: false,
      aktif: true
    }
  }
}
}
</script>