<template>
  <AppPageSection>
    
    <template #title>Jenis Pasien</template>

    <template #action>
      <AppLinkButton :to="{ name: 'patienttype:create' }" v-if="auth.can('patienttype_create')">Buat baru</AppLinkButton>
    </template>
    
    <template #content>
      <div class="space-y-5">
        <div class="flex items-center gap-x-2 px-5">
          <div class="flex items-center gap-x-2 w-full max-w-md">
            <AppInputSearch v-model="keyword" @keydown.enter="handleSearch" class="" placeholder="Cari data"></AppInputSearch>
            <AppButton class="shrink-0" type="button" @keydown.enter="handleSearch" @click="handleSearch">Cari</AppButton>
          </div>
        </div>

        <div>
          <div class="overflow-x-auto">
            <AppTable>
              <template v-slot:head>
                <AppTableRow>
                  <AppTableHeading class="w-24">Kode</AppTableHeading>
                  <AppTableHeading>Nama</AppTableHeading>
                  <AppTableHeading class="w-48">Jenis</AppTableHeading>
                  <AppTableHeading class="w-32">Status</AppTableHeading>
                  <AppTableHeading class="w-24"></AppTableHeading>
                </AppTableRow>
              </template>
              <template v-slot:body>
                <AppTableRow v-if="store.dataLists.loading">
                  <AppTableCell colspan="3">
                    <div class="flex justify-center text-gray-400 py-3">
                      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
                    </div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else-if="store.dataLists.length === 0">
                  <AppTableCell colspan="3">
                    <div class="text-center text-gray-400 py-3">Tidak ada data ditemukan</div>
                  </AppTableCell>
                </AppTableRow>
                <AppTableRow v-else v-for="item in store.dataLists" :key="item.id">
                  <AppTableCell class="font-medium">{{ item.kode }}</AppTableCell>
                  <AppTableCell class="font-medium">{{ item.jenis_pasien }}</AppTableCell>
                  <AppTableCell>
                    <div class="text-gray-400 space-x-2">
                      <span v-if="item.bayar" class="inline-flex items-center text-xs font-medium py-0.5">
                        <span class="flex w-2 h-2 bg-primary-500 rounded-full mr-1.5 flex-shrink-0"></span>Bayar
                      </span>
                      <span v-if="item.gakin" class="inline-flex items-center text-xs font-medium py-0.5">
                        <span class="flex w-2 h-2 bg-primary-500 rounded-full mr-1.5 flex-shrink-0"></span>Gakin
                      </span>
                      <span v-if="item.bpjs" class="inline-flex items-center text-xs font-medium py-0.5">
                        <span class="flex w-2 h-2 bg-primary-500 rounded-full mr-1.5 flex-shrink-0"></span>BPJS
                      </span>
                    </div>
                  </AppTableCell>
                  <AppTableCell>
                    <span v-if="item.aktif" class="inline-flex items-center text-xs font-medium py-0.5 px-2 rounded-full">
                      <span class="flex w-2 h-2 bg-success-500 rounded-full mr-1.5 flex-shrink-0"></span>Aktif
                    </span>
                    <span v-else class="inline-flex items-center text-xs font-medium text-gray-400 py-0.5 px-2 rounded-full">
                      <span class="flex w-2 h-2 bg-neutral-400 rounded-full mr-1.5 flex-shrink-0"></span>Tdk Aktif
                    </span>
                  </AppTableCell>
                  <AppTableCell>
                    <div class="space-x-2 flex text-sm justify-end">
                      <router-link v-if="auth.can('patienttype_update')" :to="{ name: 'patienttype:edit', params: { id: item.id } }" class="font-medium text-primary-600 hover:underline">Edit</router-link>
                      <button v-if="auth.can('patienttype_destroy')" @click="handleDelete(item.id)" type="button" class="text-red-600 font-medium">Hapus</button>
                    </div>
                  </AppTableCell>
                </AppTableRow>
              </template>
            </AppTable>
          </div>
          <div v-if="store.hasPaging" class="bg-white rounded-b-md px-5 py-4 text-xs flex items-center justify-between border-t">
            <button type="button" class="inline-flex font-medium text-sm" @click="store.pagePrev()" 
              :class="[ store.dataLinks.prev ? 'hover:text-gray-800 text-gray-600' : 'text-gray-300' ]"
              :disabled="!store.dataLinks.prev">
              Previous
            </button>
            <div class="text-gray-500 font-medium">{{ store.pagingCountInfo }}</div>
            <button @click="store.pageNext()" type="button" class="inline-flex font-medium text-sm" 
              :class="[ store.dataLinks.next ? 'hover:text-gray-800 text-gray-600' : 'text-gray-300' ]"
              :disabled="!store.dataLinks.next">
              Next
            </button>
          </div>
        </div>
      </div>
    </template>
  </AppPageSection>
</template>

<script>
import { usePatienttypeStore, useAuthStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppButton,
  AppLink,
  AppLinkButton,
  AppInputSearch,
  AppTable,
  AppTableHeading,
  AppTableRow,
  AppTableCell,
  AppPageSection,
} from '@/components/base'

export default {
  components: {
    AppButton,
    AppLink,
    AppLinkButton,
    AppInputSearch,
    AppTable, 
    AppTableHeading, 
    AppTableRow, 
    AppTableCell,
    AppPageSection,
    LoadingSpinner
  },
  setup () {
    const store = usePatienttypeStore()
    const auth = useAuthStore()
    return { store, auth }
  },
  data () {
    return {
      keyword: ''
    }
  },
  watch: {
    'store.search': {
      handler () {
        this.store.fetchData()
      }
    } 
  },
  mounted () {
    this.$nextTick(() => {
      this.store.search = ''
      this.store.fetchData()
    })
  },
  methods: {
    handleSearch (e) {
      this.store.search = this.keyword
    },
    async handleDelete (id) {
      await this.store.delete(id)
        .then(response => {
          if (response.status === 200) {
            this.store.fetchData()
          }
        })
    }
  }
}
</script>