<template>
  <div class="min-h-screen flex flex-col sm:justify-center items-center p-5 sm:p-0 bg-gray-100">
    <router-link to="/" class="text-3xl text-gray-800 font-black tracking-wide uppercase">Simpus</router-link>
    <div class="w-full sm:max-w-md mt-6 p-6 sm:p-8 bg-white shadow overflow-hidden sm:rounded-md">
      <div v-if="authStore.errorMessage" class="relative text-white bg-red-500 p-4 rounded-md leading-normal text-sm flex items-start gap-4 mb-4">
        <button @click="authStore.errorMessage = !authStore.errorMessage" class="absolute right-2 top-2 hover:bg-white hover:bg-opacity-20 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </div>
        <div class="grow leading-normal">
          <p class="font-bold">Terjadi Kesalahan</p>
          <p>Username atau Kata sandi Salah, Silahkan periksa dan ulangi masuk simpus kembali.</p>  
        </div>
      </div>

      <div class="mb-4 space-y-1">
        <h2 class="text-lg font-semibold leading-tight tracking-wide md:text-lg">
          Masuk ke akun Anda
        </h2>
      </div>

      <form @submit.prevent="authStore.login">
      <div class="space-y-6">
        <div class="space-y-2">
          <AppInputLabel for="username" value="Username" />
          <AppInput v-model="authStore.username" type="text" placeholder="Username/Email" id="username" required></AppInput>
        </div>
        <div class="space-y-2">
          <AppInputLabel for="password" value="Kata Sandi" />
          <AppInput v-model="authStore.password" type="password" placeholder="Kata sandi" id="password" required></AppInput>
        </div>
        <button 
          type="submit" 
          class="inline-flex items-center justify-center leading-normal w-full shadow-sm bg-blue-600 text-blue-50 py-2.5 rounded-md font-medium border border-transparent hover:bg-blue-700 transition">
          <svg v-if="authStore.loading" aria-hidden="true" role="status" class="inline mr-2 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
          Masuk
        </button>
      </div>
    </form>
    </div>
  </div>
</template>

<script>
import { AppInput, AppInputLabel } from '@/components/base'
import { useAuthStore } from '@/stores/auth'

export default {
  components: { AppInput, AppInputLabel },
  setup () {
    const authStore = useAuthStore()
    return { authStore }
  }
}
</script>