<template>
  <header class="fixed top-0 left-0 right-0 z-50 min-w-[1280px] whitespace-nowrap bg-primary-600">
    <nav class="py-3 px-5 text-white">
      <div class="flex items-center h-10">
        <router-link :to="{ name: 'dashboard' }" class="flex items-center justify-between mr-4 text-white">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white uppercase">Simpus</span>
        </router-link>
        <!-- User Menu -->
        <div class="ml-auto flex items-center gap-1">
          <div>
            <button 
              type="button" 
              class="inline-flex items-center gap-1.5 text-sm p-2 text-white tracking-wide rounded-md focus:bg-white/10"
              id="user-menu-button" 
              aria-expanded="false" 
              data-dropdown-toggle="userMenuDropdown"
              data-dropdown-placement="bottom-end"
            >
              <span>{{ auth.getUsername }}</span>
              <ChevronDownIcon class="w-4 h-4"></ChevronDownIcon>
            </button>
          
            <div class="hidden z-50 my-4 w-56 text-sm list-none bg-white rounded divide-y divide-gray-100 shadow text-gray-500" id="userMenuDropdown">
              <div class="py-3 px-4">
                <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ auth.getUsername }}</span>
                <span class="block text-sm font-light text-gray-500 truncate dark:text-gray-400">{{ auth.getUserEmail }}</span>
              </div>
              <ul class="py-1" aria-labelledby="dropdown">
                <li>
                  <router-link to="#" class="block hover:bg-neutral-100 py-2 px-4 text-sm">Akun</router-link>
                </li>
                <li>
                  <router-link to="#" class="block hover:bg-neutral-100 py-2 px-4 text-sm">Pengaturan</router-link>
                </li>
              </ul>
              <ul class="py-1" aria-labelledby="dropdown">
                <li>
                  <button @click="auth.logout" type="button" class="inline-flex w-full py-2 px-4 text-sm hover:bg-neutral-100">
                    Log out
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="px-5 bg-primary-700/30 whitespace-nowrap">
      <div class="flex h-12 shrink-0 text-white/60 items-center text-sm">
        <ul class="flex items-center space-x-4">
          <li><router-link :to="{ name: 'dashboard' }" class="font-medium hover:text-white" active-class="text-white">Beranda</router-link></li>
          <li>
            <router-link 
              :to="{ name: 'master' }" 
              class="font-medium hover:text-white" 
              :class="{'text-white': menuIsActive('/master')}"
            >
              Master
            </router-link>
          </li>
          <li><router-link :to="{ name: 'patient' }" class="font-medium hover:text-white" active-class="text-white">Data Pasien</router-link></li>
          <li>
            <button 
              type="button" 
              class="inline-flex items-center gap-1.5 font-medium hover:text-white"
              :class="{'text-white': menuIsActive('/pelayanan')}"  
              id="medicalservice-menu-button" 
              aria-expanded="false" 
              data-dropdown-toggle="medicalServiceDropdown"
            >
              <span>Pelayanan</span>
              <ChevronDownIcon class="w-4 h-4"></ChevronDownIcon>
            </button>
            <div class="hidden z-50 my-4 w-48 text-sm list-none text-gray-500 bg-white rounded divide-y divide-gray-100 shadow" id="medicalServiceDropdown">
              <ul class="py-1" aria-labelledby="dropdown">
                <li>
                  <router-link 
                    :to="{ name: 'registration' }" 
                    class="block hover:bg-neutral-100 py-2 px-4" 
                    active-class="font-medium text-gray-700">
                    Pendaftaran
                  </router-link>
                </li>
                <li>
                  <router-link 
                    :to="{ name: 'medical' }" 
                    class="block hover:bg-neutral-100 py-2 px-4" 
                    active-class="font-medium text-gray-700">
                    Pemeriksaan Medis
                  </router-link>
                </li>
                <li>
                  <router-link 
                    to="#" 
                    class="block hover:bg-neutral-100 py-2 px-4" 
                  >
                    Kasir
                  </router-link>
                </li>
                <li>
                  <router-link 
                    to="#" 
                    class="block hover:bg-neutral-100 py-2 px-4" 
                  >
                    Obat
                  </router-link>
                </li>
                <li>
                  <router-link 
                    to="#" 
                    class="block hover:bg-neutral-100 py-2 px-4" 
                  >
                    Laboratorium
                  </router-link>
                </li>
              </ul>
            </div>
          </li>
          <li><router-link to="#" class="font-medium hover:text-white">Laporan</router-link></li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script setup>
  import { onMounted } from 'vue'
  import { ChevronDownIcon } from '@heroicons/vue/24/solid'
  import { initDropdowns } from 'flowbite'
  import { useAuthStore } from '@/stores'
  import { useRoute } from 'vue-router'
  
  const route = useRoute()
  const auth = useAuthStore()
  const menuIsActive = (input) => {
    const paths = Array.isArray(input) ? input : [input]
    return paths.some((path) => { 
      return route.matched[0].path === path 
    })
  }
  onMounted(() => {
    initDropdowns()
  })
</script>