<template>
 <header class="border-b h-16 bg-white fixed w-full top-0 left-0">
    <div class="container mx-auto flex items-center h-full">
      <router-link to="/" class="inline-flex uppercase text-xl font-bold tracking-wide">
        Simpus
      </router-link>
    </div>
  </header>

  <main class="pt-14 flex flex-col min-h-screen">
  <div class="max-w-7xl mx-auto py-24 flex flex-col items-center">
    <div class="grid place-content-center w-28 bg-blue-600 h-28 rounded-2xl shadow-xl shadow-blue-600/50">
      <div class="text-8xl text-white font-bold">S</div>
    </div>
    <div class="mt-12 text-center space-y-2">
      <div class="text-4xl text-gray-800 font-black tracking-wide uppercase">Simpus</div>
      <div class="text-3xl text-gray-500 tracking-tight">Sistem Informasi Manajemen Puskesmas</div>
    </div>
    <router-link :to="{ name: 'login' }" class="inline-flex mt-10 bg-rose-500 hover:bg-rose-600 transition text-white text-xl px-8 py-4 rounded-md font-medium">
      Get Started
    </router-link>
  </div>
  <footer class="mt-auto py-5">
    <p class="text-gray-400 tracking-wide text-center">Copyright © 2023 Kinaryatama Raharja.</p>
  </footer>
  </main>
</template>
