<template>
  <AppPageSection class="max-w-5xl mx-auto">
    <template #title>
      <div class="px-5">Pemeriksaan Medis</div>
    </template>

    <template #content>
      <div class="w-full h-full flex flex-col">

      </div>
    </template>

  </AppPageSection>
</template>

<script>
import { AppPageSection } from '@/components/base';
export default {
  components: { AppPageSection }
}
</script>