<script setup>
  import { useCookies } from '@vueuse/integrations/useCookies'
  const cookies = useCookies()
  const getToken = () => {
    return cookies.get('simpus_token')
  }
</script>

<template>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Ada yang hilang.</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
              Maaf, kami tidak dapat menemukan halaman tersebut. Anda akan menemukan banyak hal untuk dijelajahi di halaman beranda. 
            </p>
            <div class="space-x-2">
            <router-link :to="{ name: 'home' }" class="inline-flex text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">
              Kembali ke Beranda
            </router-link>
            <router-link v-if="getToken()" :to="{ name: 'dashboard' }" class="inline-flex text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">
              Dashboard
            </router-link>
            </div>
        </div>   
    </div>
</section>
</template>