@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;

.btn {
  @apply inline-flex items-center justify-center gap-x-2 text-sm py-2 px-4 font-medium rounded-md transition disabled:cursor-not-allowed outline-none;
}
.btn-primary {
  @apply text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 disabled:bg-primary-200 disabled:text-primary-400; 
}
.btn-dark {
  @apply text-white bg-neutral-700 hover:bg-neutral-800 focus:ring-4 focus:ring-neutral-300 disabled:bg-neutral-200 disabled:text-neutral-400; 
}
.btn-light {
  @apply text-neutral-800 bg-neutral-100 hover:bg-neutral-200 focus:ring-4 focus:ring-neutral-300 disabled:bg-neutral-200 disabled:text-neutral-400; 
}
.btn-danger {
  @apply text-white bg-danger-600 hover:bg-danger-700 focus:ring-4 focus:ring-danger-300 disabled:bg-danger-200 disabled:text-danger-400; 
}
.btn-success {
  @apply text-white bg-success-600 hover:bg-success-700 focus:ring-4 focus:ring-success-300 disabled:bg-success-200 disabled:text-success-400; 
}
.btn-warning {
  @apply text-white bg-warning-500 hover:bg-warning-600 focus:ring-4 focus:ring-warning-300 disabled:bg-warning-200 disabled:text-warning-400; 
}
.btn-link {
  @apply hover:underline disabled:text-neutral-400 disabled:no-underline;
}
.link {
  @apply inline-flex items-center justify-center gap-x-2 hover:underline text-sm font-medium;
}
.form-label {
  @apply block text-sm font-medium;
}
.form-input {
  @apply block w-full py-2 font-normal text-sm rounded-md border-0 text-neutral-800 bg-neutral-50 placeholder:text-neutral-400 ring-1 ring-inset ring-neutral-300 focus:ring-2 focus:ring-inset focus:ring-primary-600 disabled:cursor-not-allowed disabled:bg-neutral-100 disabled:text-neutral-500;
}
.form-input-invalid {
  @apply block w-full py-2 font-normal text-sm rounded-md border-0 text-danger-600 bg-danger-50 placeholder:text-danger-400 ring-1 ring-inset ring-danger-300 focus:ring-2 focus:ring-inset focus:ring-danger-500 disabled:cursor-not-allowed disabled:bg-danger-100 disabled:text-danger-500;
}
.input-search {
  @apply block w-full py-2 font-normal text-sm rounded-md border-0 text-neutral-800 bg-neutral-50 placeholder:text-neutral-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 disabled:cursor-not-allowed disabled:bg-neutral-100 disabled:text-neutral-500;
}
.input-checkbox {
  @apply block rounded bg-neutral-100 border-neutral-300 transition duration-150 ease-in-out focus:ring-offset-0 focus:ring-primary-200 focus:ring-4 focus:border-primary-300;
}

@tailwind utilities;


