<template>
  <component :is="layout">
    <router-view v-slot="{ Component }">
      <KeepAlive>
        <Suspense>
          <component :is="Component"></component>
          <template #fallback>
            Loading...
          </template>
        </Suspense>
      </KeepAlive>
    </router-view>
  </component>
</template>

<script>
import { RouterView } from 'vue-router'
import LayoutApp from '@/components/layouts/LayoutApp.vue'
import LayoutDefault from '@/components/layouts/LayoutDefault.vue'

export default {
  components: {
    LayoutApp,
    LayoutDefault
  },
  computed: {
    layout () {
      return (this.$route.meta.layout || LayoutDefault)
    }
  },
}
</script>