<template>
  <div class="relative w-full min-h-full flex">
    <aside class="w-[320px] 2xl:w-[420px] shrink-0 fixed bg-gray-50 min-h-[calc(100vh-87px)] overflow-y-auto border-r">
      <div class="p-5">
        <h2 class="font-bold text-lg tracking-wide">Filter</h2>
        <div class="space-y-4 pt-4">
          <div class="space-y-2">
            <AppInputLabel value="Cari Data" />
            <AppInputSearch v-model="store.search" bg="bg-white" />
            <p class="text-xs text-gray-400">Cari No.RM/Nama/Nama KK/NIK/No.Bpjs</p>
          </div>

          <!-- <div class="space-y-2">
            <AppInputLabel value="Jenis Kelamin" />
            <ul class="items-center flex gap-4 text-sm">
              <li>
                <div class="flex items-center space-x-2">
                  <input type="radio" name="gender" id="gender-all" class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 focus:ring-primary-500">
                  <AppInputLabel for="gender-all" value="Semua" />
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <input type="radio" name="gender" id="gender-l" class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 focus:ring-primary-500">
                  <AppInputLabel for="gender-l" value="Laki-laki" />
                </div>
              </li>
              <li>
                <div class="flex items-center space-x-2">
                  <input type="radio" name="gender" id="gender-p" class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 focus:ring-primary-500">
                  <AppInputLabel for="gender-p" value="Perempuan" />
                </div>
              </li>
            </ul>
          </div> -->
          
        </div>
      </div>
    </aside>
    <main class="ml-[320px] 2xl:ml-[420px] relative w-full bg-white">

      <div class="p-5 flex items-center border-b">
        <div class="text-2xl font-bold">Data Pasien</div>
        <div class="ml-auto">
          <div class="flex items-center space-x-4">
            <AppLinkButton 
              :to="{ name: 'patient:create' }" 
              v-if="auth.can('patient_create')"
            >
              Buat Baru
            </AppLinkButton>
          </div>
        </div>
      </div>
      <div class="p-5 text-sm">
        Ditemukan <span class="font-semibold">{{ store.dataMeta.total }}</span> Pasien, <span class="font-semibold">{{ store.dataMeta.to }}</span> Ditampilkan
      </div>
      <AppTable>
        <template v-slot:head>
          <AppTableRow>
            <AppTableHeading class="w-28 text-right">No. RM</AppTableHeading>
            <AppTableHeading>Nama</AppTableHeading>
            <AppTableHeading class="w-56">No. Identitas</AppTableHeading>
            <AppTableHeading class="w-20"></AppTableHeading>
          </AppTableRow>
        </template>
        <template v-slot:body>
        <template v-for="(item, index) in store.dataLists" :key="item.id">  
          <AppTableRow class="hover:bg-gray-50">
            <AppTableCell class="font-medium text-right">{{ item.no_rm }}</AppTableCell>
            <AppTableCell class="whitespace-nowrap">
              <div class="space-y-2">
                <div class="space-y-0.5">
                  <div class="font-medium">{{ item.nama }}</div>
                  <div class="text-gray-400 font-normal">{{ item.nama_kk }}</div>
                </div>
                <div class="flex text-gray-500 text-xs space-x-3">

                  <span class="flex items-center font-medium text-gray-500">
                    <template v-if="item.sex_id == 1">
                      <span class="flex w-2 h-2 bg-sky-500 rounded-full mr-1.5 flex-shrink-0"></span> Laki-laki
                    </template>
                    <template v-if="item.sex_id == 2">
                      <span class="flex w-2 h-2 bg-pink-500 rounded-full mr-1.5 flex-shrink-0"></span> Perempuan
                    </template>
                  </span>
                  
                  <span v-if="item.patienttype_id" class="flex items-center font-medium text-gray-500">
                    <span class="flex w-2 h-2 bg-indigo-500 rounded-full mr-1.5 flex-shrink-0"></span> {{ patienttype(item.patienttype_id) }}
                  </span>
                </div>
              </div>
            </AppTableCell>
            <AppTableCell>
              <div class="space-y-2">
                <div v-if="item.nik" class="w-max flex items-center bg-indigo-100 text-indigo-800 text-xs font-medium rounded divide-x divide-indigo-800/10">
                  <div class="text-indigo-900 py-0.5 px-2 uppercase">nik</div> 
                  <div class="px-2 py-0.5">{{ item.nik }}</div>
                </div>
                <!-- <div class="w-max flex items-center bg-indigo-100 text-indigo-800 text-xs font-medium rounded divide-x divide-indigo-800/10">
                  <div class="text-indigo-900 py-0.5 px-2 uppercase">kk</div> 
                  <div class="px-2 py-0.5">{{ item.no_kk }}</div>
                </div> -->
                <div v-if="item.no_bpjs" class="w-max flex items-center bg-teal-100 text-teal-800 text-xs font-medium rounded divide-x divide-teal-800/10">
                  <div class="text-teal-900 py-0.5 px-2 uppercase">BPJS</div> 
                  <div class="px-2 py-0.5">{{ item.no_bpjs }}</div>
                </div>
              </div>
            </AppTableCell>

            <AppTableCell>
              <div class="flex items-center justify-end space-x-2">
                <router-link v-if="auth.can('patient_update')" :to="{ name: 'patient:edit', params: { id: parseInt(item.id) } }" class="font-medium text-primary-600 hover:underline">
                  Edit
                </router-link>
                <button v-if="auth.can('patient_destroy')" type="button" @click.stop.prevent="handleDelete(item)" class="font-medium text-red-500 hover:underline">Hapus</button>
              </div>
            </AppTableCell>
          </AppTableRow>
          </template>
        </template>
      </AppTable>
      
      <div v-if="store.hasPaging" class="text-center my-8">
        <button type="button" @click.prevent="store.loadMore" class="inline-flex items-center gap-2 px-4 py-2 border rounded-md active:bg-gray-100 font-medium">
          <LoadingSpinner v-if="store.loading" class="w-5 h-5"></LoadingSpinner>
          Load More
        </button>
      </div>
      
    </main>
  </div>
</template>

<script>
import { RouterLink } from 'vue-router'
import { ref, watch, onMounted } from 'vue'
import { usePatientStore, usePatienttypeStore, useAuthStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons';
import { 
  AppButton,
  AppLinkButton,
  AppInput, 
  AppInputLabel,
  AppInputSearch,
  AppTable,
  AppTableHeading,
  AppTableRow,
  AppTableCell,
} from '@/components/base';

export default {
  components: {
    RouterLink,
    AppButton,
    AppLinkButton,
    AppInput,
    AppInputLabel,
    AppInputSearch, 
    AppTable,
    AppTableHeading,
    AppTableRow,
    AppTableCell,
    LoadingSpinner 
  },
  setup () {
    const store = usePatientStore()
    const patienttypeStore = usePatienttypeStore()
    const auth = useAuthStore()

    const patienttype = (id) => {
      const type = Object.assign(
        {}, Array.from(patienttypeStore.dataLists).find(item => item.id == id)
      )
      return type.jenis_pasien 
    }

    const handleDelete = (item) => {
      if (confirm(`Anda yakin hapus, ${item.nama} ?`)) {
        store.delete(item.id).then(() => { 
          store.fetchData() 
        })
      }
    }

    watch(() => store.search, () => store.fetchData())
    
    onMounted(() => {
      store.fetchData()
      patienttypeStore.fetchData()
    })

    return { 
      store,
      patienttypeStore, 
      auth,
      patienttype, 
      handleDelete 
    }
  },
}
</script>