<template>
  <AppPageSection class="max-w-2xl mx-auto">
    <template #header>
      <AppLinkBack :to="{ name: 'patient' }">Pasien</AppLinkBack>
    </template>
    <template #title>Buat Pasien Baru</template> 
    <template #content>
      <form @submit.prevent="handleSubmit" class="space-y-6">
        <div class="grid grid-cols-2 gap-4 sm:gap-6">
          <div class="w-full sm:col-span-2 space-y-2">
            <AppInputLabel for="no_rm" value="No. Rekam Medis" />
            <AppInput v-model="formInput.no_rm"  id="no_rm" placeholder="No. Rekam Medis" :error="errors.no_rm" :disabled="isDisabled" />
          </div>
          <div class="w-full space-y-2">
            <AppInputLabel for="nik" value="NIK" />
            <AppInput v-model="formInput.nik"  id="nik" placeholder="NIK" :error="errors.nik" :disabled="isDisabled" maxlength="16" />
          </div>
          <div class="w-full space-y-2">
            <AppInputLabel for="no_kk" value="No. KK" />
            <AppInput v-model="formInput.no_kk" id="no_kk" placeholder="No. KK" :error="errors.no_kk" :disabled="isDisabled" maxlength="16" />
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="no_bpjs" value="No. BPJS" />
            <AppInput v-model="formInput.no_bpjs"  id="no_bpjs" placeholder="No. BPJS" :error="errors.no_bpjs" :disabled="isDisabled" maxlength="13" />
          </div>
          <div class="w-full space-y-2">
            <AppInputLabel for="no_kartu" value="No. Kartu" />
            <AppInput v-model="formInput.no_kartu" id="no_kartu" placeholder="No. Kartu" :error="errors.no_kartu" :disabled="isDisabled" />
          </div>

          <hr class="w-full sm:col-span-2 my-5">

          <div class="w-full space-y-2">
            <AppInputLabel for="nama" value="Nama" />
            <AppInput v-model="formInput.nama" id="nama" placeholder="Nama" :error="errors.nama" :disabled="isDisabled" />
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="nama_kk" value="Nama KK" />
            <AppInput v-model="formInput.nama_kk" id="nama_kk" placeholder="Nama KK" :error="errors.nama_kk" :disabled="isDisabled" />
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="tempat_lahir" value="Tempat Lahir" />
            <AppInput v-model="formInput.tempat_lahir" id="tempat_lahir" placeholder="Tempat Lahir" :error="errors.tempat_lahir" :disabled="isDisabled" />
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="tgl_lahir" value="Tanggal Lahir" />
            <AppInput type="date" v-model="borndate" id="tgl_lahir" placeholder="Tanggal Lahir" :error="errors.tgl_lahir" :disabled="isDisabled" />
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="sex_id" value="Jenis Kelamin" />
            <select 
              v-model="formInput.sex_id"
              id="sex_id"
              class="w-full text-sm px-2 rounded-md shadow-sm outline-none"
              :class="[errors.sex_id 
                ? 'text-red-500 bg-red-50 border-red-300 focus:ring-red-500 focus:border-red-50' 
                : 'text-gray-700 bg-gray-50 border-gray-300  focus:ring-primary-600 focus:border-primary-600']"
            >
              <option value="">Pilih Jenis Kelamin</option>
              <option
                v-for="item in gender"
                :key="item.value"
                :value="item.value">
                {{ item.text }}
              </option>
            </select>
            <p v-if="errors.sex_id" class="text-sm text-red-500">
              {{ errors.sex_id.toString() }}
            </p>
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="patienttype_id" value="Jenis Pasien" />
            <select
              @click="getPatienttypes" 
              @focus.prevent="getPatienttypes"  
              v-model="formInput.patienttype_id"
              id="patienttype_id"
              class="w-full text-sm px-2 rounded-md shadow-sm outline-none"
              :class="[errors.patienttype_id 
                ? 'text-red-500 bg-red-50 border-red-300 focus:ring-red-500 focus:border-red-50' 
                : 'text-gray-700 bg-gray-50 border-gray-300  focus:ring-primary-600 focus:border-primary-600']"
            >
              <option value="">Pilih Jenis Pasien</option>
              <option
                v-for="item in patienttypeStore.optionLists"
                :key="item.value"
                :value="item.value">
                {{ item.text }}
              </option>
            </select>
            <p v-if="errors.patienttype_id" class="text-sm text-red-500">
              {{ errors.patienttype_id.toString() }}
            </p>
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="job_id" value="Pekerjaan" />
            <select
              @click="getJob" 
              @focus.prevent="getJob"
              v-model="formInput.job_id"
              id="job_id"
              class="w-full text-sm px-2 rounded-md shadow-sm outline-none"
              :class="[errors.job_id 
                ? 'text-red-500 bg-red-50 border-red-300 focus:ring-red-500 focus:border-red-50' 
                : 'text-gray-700 bg-gray-50 border-gray-300  focus:ring-primary-600 focus:border-primary-600']"
            >
              <option value="">Pilih Pekerjaan</option>
              <option
                v-for="item in jobStore.optionLists"
                :key="item.value"
                :value="item.value">
                {{ item.text }}
              </option>
            </select>
            <p v-if="errors.job_id" class="text-sm text-red-500">
              {{ errors.job_id.toString() }}
            </p>
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="education_id" value="Pendidikan" />
            <select
              @click="getEducation" 
              @focus.prevent="getEducation"
              v-model="formInput.education_id"
              id="education_id"
              class="w-full text-sm px-2 rounded-md shadow-sm outline-none"
              :class="[errors.education_id 
                ? 'text-red-500 bg-red-50 border-red-300 focus:ring-red-500 focus:border-red-50' 
                : 'text-gray-700 bg-gray-50 border-gray-300  focus:ring-primary-600 focus:border-primary-600']"
            >
              <option value="">Pilih Pendidikan</option>
              <option
                v-for="item in educationStore.optionLists"
                :key="item.value"
                :value="item.value">
                {{ item.text }}
              </option>
            </select>
            <p v-if="errors.education_id" class="text-sm text-red-500">
              {{ errors.education_id.toString() }}
            </p>
          </div>

          <div class="w-full sm:col-span-2 space-y-2">
            <AppInputLabel for="alamat" value="Alamat" />
            <AppInput v-model="formInput.alamat" id="alamat" placeholder="Alamat" :error="errors.alamat" :disabled="isDisabled" />
          </div>

          <div class="w-full sm:col-span-2 space-y-2">
            <AppInputLabel for="province_id" value="Provinsi" />
            <select 
              @click="regionStore.fetchProvinces" 
              v-model="formInput.province_id" 
              class="w-full text-sm px-2 rounded-md bg-gray-50 border-gray-300 shadow-sm"
            >
              <option value="">Pilih Provinsi</option>
              <option
                v-for="province in regionStore.provinceOptionLists"
                :key="province.value"
                :value="province.value">
                {{ province.text }}
              </option>
            </select>
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="regency_id" value="Kabupaten" />
            <select 
              @click="regionStore.fetchProvinces" 
              v-model="formInput.regency_id" 
              class="w-full text-sm px-2 rounded-md bg-gray-50 border-gray-300 shadow-sm"
            >
              <option value="">Pilih Kabupaten</option>
              <option
                v-for="regency in regionStore.regencyOptionLists"
                :key="regency.value"
                :value="regency.value">
                {{ regency.text }}
              </option>
            </select>
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="district_id" value="Kecamatan" />
            <select 
              v-model="formInput.district_id" 
              class="w-full text-sm px-2 rounded-md bg-gray-50 border-gray-300 shadow-sm"
            >
              <option value="">Pilih Kecamatan</option>
              <option
                v-for="district in regionStore.districtOptionLists"
                :key="district.value"
                :value="district.value">
                {{ district.text }}
              </option>
            </select>
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="village_id" value="Desa" />
            <select 
              v-model="formInput.village_id" 
              class="w-full text-sm px-2 rounded-md bg-gray-50 border-gray-300 shadow-sm"
            >
              <option value="">Pilih Desa</option>
              <option
                v-for="village in regionStore.villageOptionLists"
                :key="village.value"
                :value="village.value">
                {{ village.text }}
              </option>
            </select>
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="hamlet_id" value="Dusun" />
            <select 
              v-model="formInput.hamlet_id" 
              class="w-full text-sm px-2 rounded-md bg-gray-50 border-gray-300 shadow-sm"
            >
              <option value="">Pilih Desa</option>
              <option
                v-for="hamlet in regionStore.hamletOptionLists"
                :key="hamlet.value"
                :value="hamlet.value">
                {{ hamlet.text }}
              </option>
            </select>
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="tribe_id" value="Suku" />
            <select
              @click="getTribe" 
              @focus.prevent="getTribe"
              v-model="formInput.tribe_id"
              id="tribe_id"
              class="w-full text-sm px-2 rounded-md shadow-sm outline-none"
              :class="[errors.tribe_id 
                ? 'text-red-500 bg-red-50 border-red-300 focus:ring-red-500 focus:border-red-50' 
                : 'text-gray-700 bg-gray-50 border-gray-300  focus:ring-primary-600 focus:border-primary-600']"
            >
              <option value="">Pilih Suku</option>
              <option
                v-for="item in tribeStore.optionLists"
                :key="item.value"
                :value="item.value">
                {{ item.text }}
              </option>
            </select>
            <p v-if="errors.tribe_id" class="text-sm text-red-500">
              {{ errors.tribe_id.toString() }}
            </p>
          </div>

          <div class="w-full space-y-2">
            <AppInputLabel for="no_hp" value="No. HP" />
            <AppInput v-model="formInput.no_hp" id="no_hp" placeholder="No. HP" :error="errors.no_hp" :disabled="isDisabled" />
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="schedule_id" value="Jadwal" />
            <AppInput v-model="formInput.schedule_id" id="schedule_id" placeholder="Jadwal" :error="errors.schedule_id" :disabled="isDisabled" />
          </div>
          
          <div class="w-full space-y-2">
            <AppInputLabel for="tgl_rutin" value="Tanggal Rutin" />
            <AppInput v-model="formInput.tgl_rutin" id="tgl_rutin" placeholder="Tanggal Rutin" :error="errors.tgl_rutin" :disabled="isDisabled" />
          </div>
        </div>
        <AppButton type="submit" :disabled="isDisabled">
          <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
          Simpan
        </AppButton>
      </form>
    </template>
  </AppPageSection>
</template>

<script>
import { 
  usePatientStore, 
  usePatienttypeStore,
  useJobStore,
  useEducationStore,
  useTribeStore,
  useRegionStore 
} from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageSection,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack,
  AppSelect 
} from '@/components/base' 
export default {
  components: {
    AppPageSection,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner,
    AppSelect
  },
  setup () {
    const store = usePatientStore()
    const patienttypeStore = usePatienttypeStore()
    const jobStore = useJobStore()
    const educationStore = useEducationStore()
    const tribeStore = useTribeStore()
    const regionStore = useRegionStore()

    return { 
      store, 
      patienttypeStore,
      jobStore,
      educationStore,
      tribeStore,
      regionStore 
    }
  },
  data () {
    return {
      isLoading: false,
      isDisabled: false,
      borndate: '',
      formInput: {
        no_rm: '',
        nik: '',
        no_kk: '',
        no_bpjs: '',
        no_kartu: '',
        nama: '',
        alamat: '',
        hamlet_id: '',
        village_id: '',
        district_id: '',
        regency_id: '',
        province_id: '',
        tempat_lahir: '',
        tgl_lahir: '',
        nama_kk: '',
        sex_id: '',
        job_id: '',
        patienttype_id: '',
        education_id: '',
        no_hp: '',
        schedule_id: '',
        tgl_rutin: '',
        tribe_id: '',
      },
      errors: [],
      gender: [
        { value: 1, text: 'Laki-laki' },
        { value: 2, text: 'Perempuan' },
      ],
      patienttypes: [],
    }
  },
  watch: {
    'borndate': function (val) {
      this.formInput.tgl_lahir = this.reverseBornDate(val)
    },
    'formInput.province_id': function (val) {
      this.handleProvinceLists()
    },
    'formInput.regency_id': function (val) {
      this.handleRegencyLists()
    },
    'formInput.district_id': function (val) {
      this.handleDistrictLists()
    },
    'formInput.village_id': function (val) {
      this.handleVillageLists()
    },
  },
  created () {
    this.clearField()
    this.handleProvinceLists()
  },
  methods: {
    async handleSubmit () {
      this.isLoading = true
      this.isDisabled = true
      await this.store.create(this.formInput)
        .then(response => {
          this.isLoading = false
          this.isDisabled = false
          
          if (response.status === 201) {
            this.clearField()
            this.$router.push({ name: 'patient' })
          }
        })
        .catch(error => {
          this.isLoading = false
          this.isDisabled = false
          if (error.response.status == 422) {
            this.errors = error.response.data.errors
          }
        })
    },

    clearField () {
      this.borndate = ''
      this.errors = [],
      this.formInput = {
        no_rm: '',
        nik: '',
        no_kk: '',
        no_bpjs: '',
        no_kartu: '',
        nama: '',
        alamat: '',
        hamlet_id: '',
        village_id: '',
        district_id: '',
        regency_id: '',
        province_id: '',
        tempat_lahir: '',
        tgl_lahir: '',
        nama_kk: '',
        sex_id: '',
        job_id: '',
        patienttype_id: '',
        education_id: '',
        no_hp: '',
        schedule_id: '',
        tgl_rutin: '',
        tribe_id: '',
      }
    },

    reverseBornDate (date) {
      const split = date.split('-')
      return `${split[2]}-${split[1]}-${split[0]}`
    },

    getPatienttypes () {
      if (this.patienttypeStore.dataLists.length == 0) {
        this.patienttypeStore.fetchData()
      }
    },

    getJob () {
      if (this.jobStore.dataLists.length == 0) {
        this.jobStore.fetchData(100)
      }
    },

    getEducation () {
      if (this.educationStore.dataLists.length == 0) {
        this.educationStore.fetchData()
      }
    },

    getTribe () {
      if (this.tribeStore.dataLists.length == 0) {
        this.tribeStore.fetchData()
      }
    },

    handleProvinceLists () {
      const id = this.formInput.province_id
      if (id > 0) {
        this.regionStore.fetchRegencies(id)
      } else {
        this.formInput.regency_id = ''
        this.formInput.district_id = ''
        this.formInput.village_id = ''
        this.formInput.hamlet_id = ''
        this.regionStore.$patch((state) => {
          state.regencies = [],
          state.districts = [],
          state.villages = [],
          state.hamlets = []
        })
      }
    },

    handleRegencyLists () {
      const id = this.formInput.regency_id
      if (id > 0) {
        this.regionStore.fetchDistricts(id)
      } else {
        this.formInput.district_id = ''
        this.formInput.village_id = ''
        this.formInput.hamlet_id = ''
        this.regionStore.$patch((state) => {
          state.districts = [],
          state.villages = [],
          state.hamlets = []
        })
      }
    },

    handleDistrictLists () {
      const id = this.formInput.district_id
      if (id > 0) {
        this.regionStore.fetchVillages(id)
      } else {
        this.formInput.village_id = ''
        this.formInput.hamlet_id = ''
        this.regionStore.$patch((state) => {
          state.villages = [],
          state.hamlets = []
        })
      }
    },

    handleVillageLists () {
      const id = this.formInput.village_id
      if (id > 0) {
        this.regionStore.fetchHamlets(id)
      } else {
        this.formInput.hamlet_id = ''
        this.regionStore.$patch((state) => {
          state.hamlets = []
        })
      }
    }
  }
}
</script>