<template>
<div class="px-5 py-4"><AppLinkBack :to="{ name: 'followup' }"></AppLinkBack></div>
<div class="max-w-xl mx-auto">
  <AppPageTitle>
    <template #title>Edit Tindak Lanjut</template>
  </AppPageTitle>
  <div class="py-5">
    <div v-if="!readyToLoad" class="py-4 grid place-content-center">
      <LoadingSpinner class="w-6 h-6"></LoadingSpinner>
    </div>
    <form v-else @submit.prevent="handleSubmit" class="space-y-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
        <div class="w-full col-span-2  space-y-2">
          <AppInputLabel for="kode" value="Kode" />
          <AppInput 
            v-model="formInput.kode" 
            id="kode" 
            placeholder="Kode" 
            :error="errors.kode"
            :disabled="isDisabled" />
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="tindak_lanjut" value="Nama" />
          <AppInput 
            v-model="formInput.tindak_lanjut" 
            id="tindak_lanjut" 
            placeholder="Nama" 
            :error="errors.tindak_lanjut"
            :disabled="isDisabled" />
        </div>
      
        <div class="w-full col-span-2 space-y-2">
          <div class="flex items-center">
            <AppInputCheckbox v-model="formInput.ranap" id="bayar" :disabled="isDisabled"></AppInputCheckbox>
            <AppInputLabel for="ranap" value="Rawat Inap" class="ml-2" />
          </div>
        </div>
        <div class="w-full col-span-2 space-y-2">
          <AppInputLabel for="bpjs_status_pulang_id" value="ID BPJS status pulang" />
          <AppInput 
            v-model="formInput.bpjs_status_pulang_id" 
            id="bpjs_status_pulang_id" 
            placeholder="BPJS Status Pulang" 
            :error="errors.bpjs_status_pulang_id"
            :disabled="isDisabled" />
        </div>
      </div>
      <AppButton type="submit" :disabled="isDisabled">
        <LoadingSpinner v-if="isLoading" class="h-4 w-4" />
        Simpan
      </AppButton>
    </form>
  </div>
</div>
</template>

<script>
import { useFollowupStore } from '@/stores'
import { LoadingSpinner } from '@/components/icons'
import { 
  AppPageTitle,
  AppInputLabel,
  AppInput,
  AppButton,
  AppInputCheckbox,
  AppLinkBack, 
} from '@/components/base'

export default {
  components: {
    AppPageTitle,
    AppInputLabel,
    AppInput,
    AppButton,
    AppInputCheckbox,
    AppLinkBack,
    LoadingSpinner
},
setup () {
  const store = useFollowupStore()
  return { store }
},
data () {
  return {
    isLoading: false,
    isDisabled: false,
    readyToLoad: false,
    formInput: {
      kode: null,
      tindak_lanjut: null,
      ranap: false,
      bpjs_status_pulang_id: null
    },
    errors: [],
  }
},
computed: {
  dataId () {
    return this.$route.params.id
  }
},
created () {
  this.clearField()
  this.getData(this.dataId)
},
methods: {
  async getData(id) {
    this.readyToLoad = false
    await this.store.find(id)
      .then(response => {
        Object.assign(this.formInput, response.data.data)
      })
      .catch(error => {})
      .finally(() => { this.readyToLoad = true })
  },
  async handleSubmit () {
    this.isLoading = true
    this.isDisabled = true
    await this.store.update(this.dataId, this.formInput)
      .then(response => {
        this.isLoading = false
        this.isDisabled = false
    
        if (response.status === 200) {
          this.clearField()
          this.$router.push({ name: 'followup' })
        }
      })
      .catch(error => {
        this.isLoading = false
        this.isDisabled = false
        if (error.response.status == 422) {
          this.errors = error.response.data.errors
        }
      })
  },

  clearField () {
    this.errors = [],
    this.formInput = {
      kode: null,
      tindak_lanjut: null,
      ranap: false,
      bpjs_status_pulang_id: null
    }
  }
}
}
</script>